<app-loader [type]="'page'" *ngIf="loading"></app-loader> <!-- loader -->

<div class="groups-section overflow-hidden" *ngIf="!loading">
  <div class="buttons-row row mt-3 justify-content-between mx-2">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" (click)="openModal(createNewGroup)">
      Create New Group
    </button>
  </div>
  <div class="row mt-4 mx-0">
    <div class="sub-tab-nav" [ngClass]="{'col-md-12' : !showDoc, 'col-md-8': showDoc}">
      <div class="card overflow-hidden">
        <div class="card-body bg-white px-0 pb-0">
          <h5 class="card-title px-3">
            <div class="row heading">
              <div class="search col-md-6">
                <mat-form-field appearance="outline" class="custom-mat-input w-100 mb-2" [floatLabel]="'never'">
                  <i matPrefix class="fas fa-search"></i>
                  <input matInput placeholder="Search ..." autocomplete="disabled">
                  <div matSuffix class="curs-ptr">
                    <i class="fas fa-sliders-h"></i>
                  </div>
                </mat-form-field>
              </div>
              <div class="col-md-6 align-self-center row justify-content-end">
                <div class="dropdown mr-2" (clickOutside)="outsideCloseDD(propDropDown, $event)">
                  <button class="btn btn-light dropdown-toggle" (click)="toggleDropdown($event)">
                    Property
                  </button>
                  <div class="dropdown-menu dropdown-menu-right" #propDropDown>
                    <button class="dropdown-item" *ngFor="let pr of props">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="{{pr.id}}">
                        <label class="form-check-label" for="{{pr.id}}">
                          {{pr.name}}
                        </label>
                      </div>
                    </button>
                  </div>
                </div>
                <div class="dropdown mr-2" (clickOutside)="outsideCloseDD(divisionDropDown, $event)">
                  <button class="btn btn-light dropdown-toggle" (click)="toggleDropdown($event)">
                    Division
                  </button>
                  <div class="dropdown-menu dropdown-menu-right large-dropdown-menu" #divisionDropDown
                    aria-labelledby="divisionTrigger">
                    <mat-form-field appearance="outline" class="custom-mat-input w-100 mb-2 px-3"
                      [floatLabel]="'never'">
                      <i matPrefix class="fas fa-search"></i>
                      <input matInput placeholder="Search ...">
                    </mat-form-field>
                    <div class="dropdown-divider"></div>
                    <div class="row justify-content-around m-0">
                      <button class="btn btn-light text-primary" (click)="selClrAll(true)">Select all</button>
                      <button class="btn btn-light" (click)="selClrAll(false)">Clear all</button>
                    </div>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item" *ngFor="let div of divArr">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="{{div.id}}">
                        <label class="form-check-label" for="{{div.id}}">
                          {{div.name}}
                        </label>
                      </div>
                    </button>
                  </div>
                </div>
                <div class="dropdown mr-2" (clickOutside)="outsideCloseDD(expDropDown, $event)">
                  <button class="btn btn-light dropdown-toggle" (click)="toggleDropdown($event)">
                    Experience
                  </button>
                  <div class="dropdown-menu dropdown-menu-right large-dropdown-menu" #expDropDown
                    aria-labelledby="divisionTrigger">
                    <div class="input-group mb-2 p-2">
                      <div class="input-group-prepend">
                        <span class="input-group-text bg-white">
                          <i class="fa fa-search"></i>
                        </span>
                      </div>
                      <input type="text" class="form-control" placeholder="Search Experiences">
                    </div>
                    <div class="dropdown-divider"></div>
                    <div class="row justify-content-around m-0">
                      <button class="btn btn-light text-primary">Select all</button>
                      <button class="btn btn-light">Clear all</button>
                    </div>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item" *ngFor="let ex of exps">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="{{ex.id}}">
                        <label class="form-check-label" for="{{ex.id}}">
                          {{ex.name}}
                        </label>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </h5>
          <div class="card-text px-3">
            <table [ngClass]="{'table table-hover text-dark w-100': true, 'hide-rows': showDoc}">
              <thead>
                <tr>
                  <th scope="col" class="curs-ptr">
                    Name<i class="fas fa-sort-down ml-1 align-top"></i>
                  </th>
                  <th scope="col" class="curs-ptr">
                    Date Created<i class="fas fa-sort-down ml-1 align-top"></i>
                  </th>
                  <th scope="col" class="curs-ptr">
                    Members<i class="fas fa-sort-down ml-1 align-top"></i>
                  </th>
                  <th scope="col" class="curs-ptr">
                    Anonymized<i class="fas fa-sort-down ml-1 align-top"></i>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let grp of grps" (click)="toggleDoc(grp)">
                  <td>
                    <span class="d-block">{{grp.name}}</span>
                    <small>St Email</small>
                  </td>
                  <td class="text-hi-dark-grey">St dae</td>
                  <td>St dae</td>
                  <td class="text-hi-dark-grey">Static ROle</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer row justify-content-between mx-0">
            <div class="pages">
              <mat-form-field appearance="outline" class="mr-2">
                <mat-select>
                  <mat-option *ngFor="let lP of lmtPage" value="lP">{{lP}}</mat-option>
                </mat-select>
              </mat-form-field>
              <span>Showing 1-10 of 100 </span>
            </div>
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link bg-hi-grey" href="javascript:void(0)" tabindex="-1" aria-disabled="true"><i
                    class="fas fa-chevron-left"></i></a>
              </li>
              <li class="page-item active"><a class="page-link bg-hi-grey" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item"><a class="page-link bg-hi-grey" href="javascript:void(0)">2</a></li>
              <li class="page-item"><a class="page-link bg-hi-grey" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link bg-hi-grey" href="javascript:void(0)"><i class="fas fa-chevron-right"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div [ngClass]="{'workspace w-100 col-md-4': true,'hide' : !showDoc, 'show': showDoc}">
      <app-loader [type]="'page'" *ngIf="docLoading"></app-loader> <!-- loader -->

      <div class="doc" *ngIf="grpDetail && !docLoading">
        <div class="card">
          <div class="card-header row m-0">
            <h5 class="mb-0 pl-0 align-self-center">{{grpDetail.name}}</h5>
            <div class="ml-auto">
              <div class="btn btn-light" (click)="closeDoc()">
                <i class="fa fa-times"></i>
              </div>
            </div>
          </div>
          <div class="card-header bg-hi-light-grey p-1 row m-0">
            <button class="btn btn-light">
              <i class="fa fa-trash" (click)="delGrp();"></i>
            </button>
          </div>
          <div class="card-body">
            <div class="doc-details details border-bottom mb-3 pb-3">
              <div class="heading text-hi-dark-grey font-weight-bold">Details</div>
              <div class="name">
                <label class="text-hi-dark-grey mb-0 mt-2">Name</label>
                <div class="value">
                  {{grpDetail.name}}
                </div>
              </div>
              <div class="description">
                <label class="text-hi-dark-grey mb-0 mt-2">Description</label>
                <div class="value">
                  d for description....
                </div>
              </div>
            </div>
            <div class="doc-details assigned-divisions border-bottom mb-3 pb-3">
              <div class="heading text-hi-dark-grey font-weight-bold">Assigned Division(s)</div>
              <div class="value mt-2">
                <ul class="list-unstyled mb-0">
                  <li>Hi-force</li>
                </ul>
              </div>
            </div>
            <div class="doc-details information border-bottom mb-3 pb-3">
              <div class="heading text-hi-dark-grey font-weight-bold">Information</div>
              <div class="creation-date">
                <label class="text-hi-dark-grey mb-0 mt-2">Creation Date</label>
                <div class="value">
                  20 Jun 2016
                </div>
              </div>
              <div class="deactivated-users">
                <label class="text-hi-dark-grey mb-0 mt-2">Deactivated Users</label>
                <div class="value">
                  0/364
                </div>
              </div>
              <div class="pending-invitations">
                <label class="text-hi-dark-grey mb-0 mt-2">Pending Invitations</label>
                <div class="value">
                  24/364
                </div>
              </div>
              <div class="not-logged-in">
                <label class="text-hi-dark-grey mb-0 mt-2">Not Logged In</label>
                <div class="value">
                  354/364
                </div>
              </div>
            </div>
            <div class="doc-details status border-bottom mb-3 pb-3">
              <div class="heading text-hi-dark-grey font-weight-bold">Status</div>
              <div class="anonymized">
                <label class="text-hi-dark-grey mb-0 mt-2">Anonymized</label>
                <div class="value">
                  No
                </div>
              </div>
            </div>
            <div class="doc-details in-experiences border-bottom mb-3 pb-3">
              <div class="heading text-hi-dark-grey font-weight-bold">In Experiences</div>
              <div class="value mt-2">
                <ul class="list-unstyled mb-0">
                  <li>All Users</li>
                  <li>HES & Hi-Force</li>
                  <li>ABC</li>
                </ul>
              </div>
            </div>
            <div class="doc-details licenses">
              <div class="heading text-hi-dark-grey font-weight-bold">Licenses</div>
              <div class="direct">
                <label class="text-hi-dark-grey mb-0 mt-2">Direct</label>
                <div class="value">
                  364
                </div>
              </div>
              <div class="partner">
                <label class="text-hi-dark-grey mb-0 mt-2">Partner</label>
                <div class="value">
                  01
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- create new group -->
<ng-template #createNewGroup let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create New Group</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form name="groupForm" (ngSubmit)="addGroup()" [formGroup]="groupForm" novalidate>
    <div class="modal-body" ngbAutofocus>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name Group" formControlName="name">
        <mat-error *ngIf="groupForm.get('name')!.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Type Description"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Assign to Divisons</mat-label>
        <mat-select>
          <mat-option *ngFor="let div of divArr" [attr.id]="div.id" [value]="div.name">
            {{div.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="groupForm!.invalid || disabled">
        <app-loader [type]="'btn'" *ngIf="disabled"></app-loader> <!-- loader -->
        Save
      </button>
    </div>
  </form>
</ng-template>
