<div class="main main-hub p-3">
  <h3 class="mb-4 clearfix heading">
    Announcements
  </h3>
  <div class="mt-2">
    <div class="main-tab-nav">
      <mat-tab-group>
        <mat-tab label="Announcements">
          <div class="communication">
            <div class="buttons-row row mt-3 justify-content-between mx-2">
              <!-- new announcment trigger modal -->
              <button type="button" class="btn btn-primary" (click)="openModal(anncModal)">
                New Announcement
              </button>
            </div>
            <div class="row mt-4 mx-0">
              <div class="sub-tab-nav" [ngClass]="{'col-md-12': !showRowInfo, 'col-md-8': showRowInfo}">
                <div class="card overflow-hidden">
                  <div class="card-header border-0">
                    <mat-tab-group [selectedIndex]="activeIndex" (selectedTabChange)="onTabChange($event)">
                      <mat-tab label="Sent">
                        <app-loader [type]="'page'" *ngIf="loading"></app-loader> <!-- loader -->
                        <ng-container *ngTemplateOutlet="ancmntTable"></ng-container>
                      </mat-tab>
                      <mat-tab label="Scheduled">
                        <app-loader [type]="'page'" *ngIf="loading"></app-loader> <!-- loader -->
                        <ng-container *ngTemplateOutlet="ancmntTable"></ng-container>
                      </mat-tab>
                      <mat-tab label="Archived">
                        <app-loader [type]="'page'" *ngIf="loading"></app-loader> <!-- loader -->
                        <ng-container *ngTemplateOutlet="ancmntTable"></ng-container>
                      </mat-tab>
                    </mat-tab-group>
                  </div>
                </div>
              </div>
              <div class="workspace w-100 col-md-4" *ngIf="showRowInfo">
                <app-loader [type]="'page'" *ngIf="docLoading"></app-loader>
                <div class="doc"  *ngIf="!docLoading">
                  <div class="card">
                    <div class="card-header row m-0">
                      <h5 class="mb-0 pl-0 align-self-center">Announcement details</h5>
                      <div class="ml-auto">
                        <div class="btn btn-light" (click)="closeDoc()">
                          <i class="fa fa-times"></i>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="doc-details details border-bottom mb-3 pb-3">
                        <div class="subject">
                          <label class="text-hi-dark-grey mb-0 mt-2">Subject</label>
                          <div class="value">{{rowInfo.subject||'N/A'}}</div>
                        </div>
                        <div class="created">
                          <label class="text-hi-dark-grey mb-0 mt-2">Created</label>
                          <div class="value">{{rowInfo.created||'N/A'}}</div>
                        </div>
                        <div class="author">
                          <label class="text-hi-dark-grey mb-0 mt-2">Author</label>
                          <div class="value">{{rowInfo.author}}</div>
                        </div>
                        <div class="recipients">
                          <label class="text-hi-dark-grey mb-0 mt-2">Recipients</label>
                          <div class="value">
                            {{rowInfo.sendToGroup===1?'All Users':''}}
                          </div>
                        </div>
                        <div class="requestUpdate">
                          <label class="text-hi-dark-grey mb-0 mt-2">Request Update</label>
                          <div class="value">{{rowInfo.requestToUpdate?'Yes':'No'}}</div>
                        </div>
                        <div class="sendEmailReminders">
                          <label class="text-hi-dark-grey mb-0 mt-2">Send email reminders</label>
                          <div class="value">{{rowInfo.notifyByEmail?'Yes':'No'}}</div>
                        </div>
                        <div class="status">
                          <label class="text-hi-dark-grey mb-0 mt-2">Status</label>
                          <div class="value">{{rowInfo.created||'N/A'}}</div>
                        </div>
                        <div class="readRate">
                          <label class="text-hi-dark-grey mb-0 mt-2">Read Rate</label>
                          <div class="value">{{rowInfo.read||'N/A'}}</div>
                        </div>
                      </div>
                      <div class="announcement details border-bottom mb-3 pb-3">
                        <div class="announcement">
                          <div class="value">{{rowInfo.body||'N/A'}}</div>
                        </div>
                      </div>
                      <div class="additions details border-bottom mb-3 pb-3">
                        <div class="heading text-hi-dark-grey font-weight-bold">Additions</div>
                        <div class="partNoDesc">
                          <label class="text-hi-dark-grey mb-0 mt-2">Part No. Sescription</label>
                          <div class="value">
                            <ul class="list-unstyled mb-0">
                              <li>IW25B-64A Cover</li>
                              <li>IW25B-64A Cover</li>
                              <li>IW25B-64A Cover</li>
                              <li>IW25B-64A Cover</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="amendmentsToThePrice details border-bottom mb-3 pb-3">
                        <div class="heading text-hi-dark-grey font-weight-bold">Amendments To The Price</div>
                        <div class="partNoDesc">
                          <label class="text-hi-dark-grey mb-0 mt-2">Part No. Sescription</label>
                          <div class="value">
                            <ul class="list-unstyled mb-0">
                              <li>IW25B-64A Cover</li>
                              <li>IW25B-64A Cover</li>
                              <li>IW25B-64A Cover</li>
                              <li>IW25B-64A Cover</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="amendmentsToTheDesc details border-bottom mb-3 pb-3">
                        <div class="heading text-hi-dark-grey font-weight-bold">Amendments To The Description</div>
                        <div class="partNoDesc">
                          <label class="text-hi-dark-grey mb-0 mt-2">Part No. Sescription</label>
                          <div class="value">
                            <ul class="list-unstyled mb-0">
                              <li>IW25B-64A Cover</li>
                              <li>IW25B-64A Cover</li>
                              <li>IW25B-64A Cover</li>
                              <li>IW25B-64A Cover</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="itemsRemoved details">
                        <div class="heading text-hi-dark-grey font-weight-bold">Items Removed form the Price Lists</div>
                        <div class="partNoDesc">
                          <label class="text-hi-dark-grey mb-0 mt-2">Part No. Sescription</label>
                          <div class="value">
                            <ul class="list-unstyled mb-0">
                              <li>IW25B-64A Cover</li>
                              <li>IW25B-64A Cover</li>
                              <li>IW25B-64A Cover</li>
                              <li>IW25B-64A Cover</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<ng-template #ancmntTable>
  <div *ngIf="!loading">
    <div class="card-body bg-white rounded-bottom px-0 pb-0">
      <div class="card-text px-3">
        <table class="table table-hover text-dark w-100" [ngClass]="{'hide-rows': showRowInfo}">
          <thead>
            <tr>
              <th class="curs-ptr" *ngFor="let col of cols;let i =index" (click)="sortChange(col,i)">
                {{col.n}}
                <i class="ml-1 fas" [ngClass]="{'fa-sort-down align-top': !col.asc, 'fa-sort-up align-bottom': col.asc}"></i>
              </th>
              <th *ngIf="activeIndex==0"></th>
            </tr>
          </thead>
          <tbody *ngIf="!loading && ancmnts.length > 0">
            <tr *ngFor="let ancmnt of ancmnts" (click)="toggleInfo(ancmnt)">
              <td>
                {{ancmnt.subject}}<br />
              </td>
              <td class="text-hi-dark-grey">Author</td>
              <td>{{ancmnt.sendToGroup===1?'All Users':''}}</td>
              <td class="text-hi-dark-grey">Date</td>
              <td>Read</td>
              <td *ngIf="activeIndex==0" (click)="archAncmnt($event, ancmnt)">
                <button class="btn btn-primary btn-sm hover-btn">Archive</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="text-center text-secondary" *ngIf="!loading && ancmnts.length == 0">
          No Announcement found
        </div>
      </div>
      <div class="card-footer row justify-content-between mx-0">
        <div class="pages">
          <mat-form-field appearance="outline" class="mr-2">
            <mat-select [(ngModel)]="pageSize" (selectionChange)="chngPageSize()">
              <mat-option *ngFor="let lP of lmtPage" [value]="lP">{{lP}}</mat-option>
            </mat-select>
          </mat-form-field>
          <span>Showing 1-10 of 100 </span>
        </div>
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link bg-hi-grey" href="#" tabindex="-1" aria-disabled="true"><i class="fas fa-chevron-left"></i></a>
          </li>
          <li class="page-item"><a class="page-link bg-hi-grey" href="#">1</a></li>
          <li class="page-item"><a class="page-link bg-hi-grey" href="#">2</a></li>
          <li class="page-item"><a class="page-link bg-hi-grey" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link bg-hi-grey" href="#"><i class="fas fa-chevron-right"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</ng-template>


<!-- new announcment Modal -->
<ng-template #anncModal let-modal class="custom-modal">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">New Announcement</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form name="ancmntForm" (ngSubmit)="onSubmit()" [formGroup]="ancmntForm" novalidate>
    <div class="modal-body" ngbAutofocus>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Subject</mat-label>
        <input matInput placeholder="Subject" formControlName="subject" required />
        <mat-error *ngIf="ancmntForm.get('subject')!.hasError('required')">
          Subject is required
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Announcement</mat-label>
        <textarea matInput placeholder="Announcement" formControlName="body" rows="3" required></textarea>
        <mat-error *ngIf="ancmntForm.get('body')!.hasError('required')">
          Announcement is required
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field appearance="outline">
        <mat-label>Send To</mat-label>
        <mat-select formControlName="sendToGroup" (selectionChange)="changeGrp($event)" required>
          <mat-option *ngFor="let gT of grpType" [value]="gT.v">{{gT.n}}</mat-option>
        </mat-select>
        <mat-error *ngIf="ancmntForm.get('sendToGroup')!.hasError('required')">
          Send To is required
        </mat-error>
      </mat-form-field>
      <br />
      <mat-form-field appearance="outline" class="w-100" *ngIf="ancmntForm.controls.usrWrkSpcs && ancmntForm.value.sendToGroup==2">
        <mat-chip-list #chipList aria-label="Select Wrodkspaces">
          <mat-chip *ngFor="let d of selWrkSpcs" [selectable]="selectable" [removable]="removable" (removed)="remove(d, 'selWrkSpcs')">
            {{d.name}}
            <i matChipRemove class="fas fa-times-circle" *ngIf="removable"></i>
          </mat-chip>
          <input matInput formControlName="usrWrkSpcs" placeholder="Select user workspaces(s)" [matAutocomplete]="auto"><!-- (matChipInputTokenEnd)="add($event)" -->
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selFromAutoComp($event.option.value, 'selWrkSpcs')" [displayWith]="displayFn">
          <mat-option *ngFor="let wrkSpc of wrkSpcs" [value]="wrkSpc">
            {{wrkSpc.name}} <br />
            <small *ngIf="wrkSpc.hub && wrkSpc.hub.name">{{wrkSpc.hub.name}}</small>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100" *ngIf="ancmntForm.controls.usrGrps && ancmntForm.value.sendToGroup==3">
        <mat-chip-list #chipList1 aria-label="Select user Group(s)">
          <mat-chip *ngFor="let d of selGrps" [selectable]="selectable" [removable]="removable" (removed)="remove(d,'selGrps')">
            {{d.name}}
            <i matChipRemove class="fas fa-times-circle" *ngIf="removable"></i>
          </mat-chip>
          <input matInput formControlName="usrGrps" placeholder="Select user group(s)" [matAutocomplete]="auto"><!-- (matChipInputTokenEnd)="add($event)" -->
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selFromAutoComp($event.option.value,'selGrps')" [displayWith]="displayFn">
          <mat-option *ngFor="let grp of grps" [value]="grp">
            {{grp.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-checkbox formControlName="requestToUpdate">Request user to update content</mat-checkbox><br />
      <mat-checkbox formControlName="notifyByEmail">Notify User by Email</mat-checkbox><br />
      <mat-checkbox formControlName="sendLater" (change)="enbDisbDateTime($event)">Send Later</mat-checkbox><br />
      <div class="row justify-content-between m-0">
        <mat-form-field appearance="outline">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="ancmntForm.get('date')!.hasError('required')">
            Date is required
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Time</mat-label>
          <mat-select formControlName="time">
            <mat-option [value]="">Select Time</mat-option>
            <mat-option *ngFor="let t of time" [value]="t">{{t}}</mat-option>
          </mat-select>
          <mat-error *ngIf="ancmntForm.get('time')!.hasError('required')">
            Time is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Close</button>
      <button class="btn btn-primary" [disabled]="ancmntForm!.invalid || disabled">
        <app-loader [type]="'btn'" *ngIf="disabled"></app-loader>Save
      </button>
    </div>
  </form>
</ng-template>

<!-- <ng-template #anncModal class="custom-modal" let-modal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" ngbAutofocus>New Announcement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Subject</mat-label>
          <input matInput placeholder="Subject">
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Announcement</mat-label>
          <textarea matInput placeholder="Announcement"></textarea>
        </mat-form-field>
        <br />
        <mat-form-field appearance="outline">
          <mat-label>Send To</mat-label>
          <mat-select>
            <mat-option>All Users</mat-option>
            <mat-option>Selected Experiences</mat-option>
            <mat-option>Selected User Groups</mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-checkbox>Request user to update content</mat-checkbox><br />
        <mat-checkbox>Notify User by Email</mat-checkbox><br />
        <mat-checkbox>Send Later</mat-checkbox><br />
        <div class="row justify-content-between m-0">
          <mat-form-field appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Time</mat-label>
            <mat-select>
              <mat-option>00:00</mat-option>
              <mat-option>01:00</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send</button>
      </div>
    </div>
  </div>
</ng-template> -->
