.hover-btn {
  opacity: 0;
}

tr:hover {
  .hover-btn {
    opacity: 1;
  }
}

.mat-option {
  height: 50px;
  line-height: 20px;
  padding: 0;
}

.quill-edt{
  max-height: 300px;
  overflow-y: scroll;
}
