<div class="text-center mt-4"><img src="assets/images/logo.png" alt="Logo"></div>
<div class="card w-40 mx-auto my-4">
  <div class="card-header text-center">
    <h4 class="mb-0 font-weight-bold">Login</h4>
  </div>
  <div class="card-body p-5">
    <div *ngIf="loginForm">
      <form class="w-75 mx-auto p-4" name="loginForm" (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required>
          <i matSuffix class="fas fa-envelope"></i>
          <mat-error *ngIf="loginForm.get('email')!.hasError('required')">
            Email is required
          </mat-error>
          <mat-error
            *ngIf="!loginForm.get('email')!.hasError('required') && loginForm.get('email')!.hasError('invalidEmail')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 input-bottom-padding-0">
          <mat-label>Password</mat-label>
          <input matInput [type]="hide?'password':'text'" formControlName="password" required>
          <i matSuffix (click)="hide = !hide" [ngClass]="{'fa-eye': hide, 'fa-eye-slash': !hide}" class="fas"></i>
          <mat-error>
            Password is required
          </mat-error>
        </mat-form-field>
        <div class="text-right">
          <a style="font-size:12px;" [routerLink]="'/auth/forgot-password'">
            Forgot Password?
          </a>
        </div>
        <div class="text-center">
          <button aria-label="LOG IN" [disabled]="loginForm!.invalid || disabled" class="mt-3 btn btn-primary">
            <app-loader [type]="'btn'" *ngIf="disabled"></app-loader> <!-- loader -->
            LOGIN
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
