.row.bg-white {
  min-height: 100vh;
}

.carousel-inner {
  .carousel-item {
    img {
      height: 100vh;
    }

    .carousel-caption {
      left: 0;
      bottom: 30%;

      .num {
        width: 120px;
      }
    }
  }
}
