<div fxLayout="column" fxLayoutAlign="center center" class="err-500">
  <div class="text-center align-self-center" fxLayout="column" fxLayoutAlign="center center">
    <div class="img"><img src="assets/images/err.png"></div>
    <div class="err-code mt-5">5 <i class="far fa-frown" aria-hidden="true"></i> 0</div>
    <div class="msg mt-3">It looks like we have an internal issue, please try again after sometime.</div>
    <a class="back-link mt-3" [routerLink]="'/'">Go back to Home</a>
  </div>
</div>
