.err-500 {
  margin-top: 10vh;
  .img {
    img {
      width: 300px;
    }
  }
  .err-code {
    font-size: 112px;
    text-align: center;
    line-height: 1;
    margin-bottom: 16px;
    font-weight: 600;
  }
  .msg {
    font-size: 24px;
    text-align: center;
  }
  .back-link {
    font-size: 15px;
    text-align: center;
  }
}
