<ngb-carousel [interval]="3000" [showNavigationArrows]="false">
  <ng-template ngbSlide>
    <div class="carousel-img img-1"></div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="carousel-img img-2"></div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="carousel-img img-3"></div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="carousel-img img-4"></div>
  </ng-template>
</ngb-carousel>
<div class="text mx-5 text-white">
  <h2>Welcome</h2>
  <p class="text-justify">The official Hi-Force app gives you instant access to important Hi-Force product
    and service information including catalogue pages, product animations and marketing content.</p>
</div>
