.__options {
  ._options {
    display: none;
    opacity: 0;
  }
}

.card {
  min-height: 73px;
}

.card:hover {
  ._options {
    display: flex;
    opacity: 1;
  }

  .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.breadcrumb-item {
  font-size: 1.7rem;
}

.folder-container {
  .card {
    @media (max-width: 576px) {
      max-width: 275px;
    }
  }
}

.process {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 500px;

  .progress {
    width: 200px;
  }

  .scrolView {
    height: 300px;
    overflow-y: scroll;
  }
}

// dracula
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}

/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}

/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
