<div class="main main-employee">
  <div class="row mt-3 mx-0">
    <!-- side -->
    <div class="side col-sm-2 files-side">
      <ul class="list-unstyled">
        <li class="pr-2 pl-3 rounded py-2 curs-ptr active"><i class="fas fa-folder mr-1"></i>My Files</li>
        <hr>
        <li class="pr-2 pl-3 rounded py-2 curs-ptr"><i class="fas fa-user-friends mr-1"></i>Shared with me</li>
        <hr>
        <li class="pr-2 pl-3 rounded py-2 curs-ptr"><i class="fas fa-clock mr-1"></i>Recent</li>
      </ul>
      <hr>
      <div class="storage">
        <div class="text-secondary text-center">
          3.3 MB of 2 GB used
          <div class="progress mt-2" style="height:10px;">
            <div class="progress-bar" role="progressbar" style="width: 1%;" aria-valuenow="3" aria-valuemin="0"
              aria-valuemax="2048"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- main -->
    <div class="col-sm-10">
      <h3 class="mb-4 clearfix heading align-self-center">
        <!-- My Files -->
        <div class="float-right d-flex">
          <i *ngIf="files.length>0 || folders.length>0 || allFiles.length>0" class="fa mr-3 curs-ptr align-self-center"
            [ngClass]="{'fa-list-ul': view, 'fa-th-large': !view}" (click)="switchView()"
            matTooltip="{{view? 'List View' : 'Grid View'}}">
          </i>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="addBtnDD" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Add
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="addBtnDD">
              <a class="dropdown-item curs-ptr" (click)="openModal(fldrModal,'addFldr')"><i
                  class="fas fa-folder-plus mr-1"></i>
                Create Folder
              </a>
              <a class="dropdown-item curs-ptr" (click)="openModal(addURL)"><i class="fa fa-link mr-1"></i>Add URL</a>
              <a class="dropdown-item curs-ptr" (click)="uploadBtn(uploadFile)"><i class="fa fa-upload mr-1"></i>
                Upload from hard drive
                <input type="file" style="display: none;" #uploadFile>
              </a>
            </div>
          </div>
        </div>
        <!-- <nav aria-label="breadcrumb" *ngIf="folderNav.length>0">
          <ol class="breadcrumb bg-transparent pl-0 mb-0">
            <li class="breadcrumb-item" *ngFor="let flNav of folderNav;let i=index">
              <span class="curs-ptr text-hover" (click)="navgToFldr(flNav)" *ngIf="folderNav.length-1>i">
                {{flNav.name}}
              </span>
              <span *ngIf="folderNav.length-1<=i">
                {{flNav.name}}
              </span>
            </li>
          </ol>
        </nav> -->
      </h3>
      <div *ngIf="view">
        <app-loader [type]="'page'" *ngIf="loading"></app-loader>
        <div *ngIf="!loading">
          <div class="text-right" *ngIf="folders.length>0 || files.length>0">
            Sort by:
            <span class="text-primary mr-2 curs-ptr">Name<i class="fa fa-sort-down align-top ml-1"></i></span>
            <span class="text-primary curs-ptr">Date Modified<i class="fa fa-sort-down align-top ml-1"></i></span>
          </div>
          <!-- folders -->
          <div class="text-secondary" *ngIf="folders.length>0">Folders</div>
          <div class="mt-2 row my-files">
            <div class="card-container col-lg-3 col-md-4 col-sm-6 my-3 mx-auto mx-sm-0" *ngFor="let fl of folders">
              <div class="card curs-ptr">
                <div class="card-body d-flex" (click)="navgToFldr(fl)">
                  <div class="name align-self-center px-0"><i class="fas fa-folder mr-1"></i>{{fl.name}}</div>
                  <div class="d-flex p-0 __options ml-auto">
                    <div class="_options">
                      <div class="btn btn-light btn-sm mr-1"
                        (click)="$event.stopPropagation();setSelRow(fldrModal,fl);"><i class="fas fa-edit"></i></div>
                      <div class="btn btn-light btn-sm mr-1" (click)="$event.stopPropagation();delCntntOrFldr(fl,true)">
                        <i class="fas fa-trash-alt"></i>
                      </div>
                    </div>
                    <mat-checkbox class="align-self-center" (click)="$event.stopPropagation();"></mat-checkbox>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- files -->
          <div class="text-secondary" *ngIf="!loading && files.length>0">Files</div>
          <div class="mt-2 row my-files">
            <div class="card-container col-lg-3 col-md-4 col-sm-6 my-3 mx-auto mx-sm-0" *ngFor="let f of files">
              <div class="card curs-ptr">
                <div class="card-body">
                  <div class="imagePreview text-center" (click)="chkFolderAndAdd(f)">
                    <img src="assets/images/discription.png">
                  </div>
                  <div class="options rounded">
                    <div class="dropleft">
                      <button class="btn" type="button" id="shareDD" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fas fa-share-square"></i>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="shareDD">
                        <h6 class="ml-2 text-hi-dark">External Sharing</h6>
                        <a class="dropdown-item" (click)="cmnModal('email', f)">
                          <i class="fa fa-envelope mr-1"></i>Email
                        </a>
                        <a class="dropdown-item" (click)="cmnModal('getLink', f)">
                          <i class="fa fa-link mr-1"></i>Get a link
                        </a>
                        <div class="dropdown-divider"></div>
                        <h6 class="ml-2 text-hi-dark">Internal Sharing</h6>
                        <a class="dropdown-item" (click)="openModal(shareColl)">
                          <i class="fa fa-user-friends mr-1"></i>Share with colleagues
                        </a>
                      </div>
                    </div>
                    <div class="btn my-1" (click)="cmnModal('addToCollection')">
                      <i class="fas fa-folder-plus"></i>
                    </div>
                    <div class="btn" (click)="delCntntOrFldr(f)">
                      <i class="fas fa-trash-alt"></i>
                    </div>
                  </div>
                </div>
                <div class="card-footer" (click)="chkFolderAndAdd(f)">
                  <div class="name text-truncate">{{f.name}}</div>
                  <div class="float-left text-secondary d-flex">
                    <div class="date">{{(f.createdDate|date:'dd MMM, yyyy')||'N/A'}}</div>
                    <div class="mx-2">l</div>
                    <div class="items">3 Items</div>
                  </div>
                  <div class="float-right" (click)="$event.stopPropagation();">
                    <mat-checkbox></mat-checkbox>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center text-secondary" *ngIf="!loading && files.length<=0 && folders.length<=0">
            No data found
          </div>
        </div>
      </div>
      <div *ngIf="!view">
        <app-loader [type]="'page'" *ngIf="loading"></app-loader>
        <div class="mt-2 row my-files" *ngIf="!loading">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>
                  <mat-checkbox></mat-checkbox>
                </th>
                <th>Name<i class="fas fa-sort-down ml-1 align-top"></i></th>
                <th>Date Modified<i class="fas fa-sort-down ml-1 align-top"></i></th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngIf="allFiles.length>0">
              <tr *ngFor="let aF of allFiles">
                <td class="align-middle">
                  <mat-checkbox></mat-checkbox>
                </td>
                <td class="align-middle" (click)="chkFolderAndAdd(aF)">
                  <div class="d-flex" *ngIf="aF.isFldr">
                    <i class="fas fa-folder mr-2" style="font-size: 3rem;"></i>
                    <div class="name align-self-center">{{aF.name}}</div>
                  </div>
                  <div class="d-flex" *ngIf="!aF.isFldr">
                    <div class="imagePreview border mr-2">
                      <img src="assets/images/discription.png">
                    </div>
                    <div class="name align-self-center">{{aF.name}}</div>
                  </div>
                </td>
                <td class="align-middle">{{(aF.createdDate|date:'dd MMM, yyyy HH:mm')||'N/A'}}</td>
                <td class="align-middle options">
                  <div class="d-flex">
                    <div class="dropleft" *ngIf="!aF.isFldr">
                      <button class="btn" type="button" id="shareDD" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fas fa-share-square"></i>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="shareDD">
                        <a class="dropdown-item" (click)="cmnModal('email', aF)">
                          <i class="fa fa-envelope mr-1"></i>Email
                        </a>
                        <a class="dropdown-item" (click)="cmnModal('getLink', aF)">
                          <i class="fa fa-link mr-1"></i>Get a link
                        </a>
                      </div>
                    </div>
                    <div *ngIf="!aF.isFldr" class="btn" (click)="cmnModal('addToCollection')">
                      <i class="fas fa-folder-plus"></i>
                    </div>
                    <div *ngIf="aF.isFldr" class="btn" (click)="setSelRow(fldrModal,aF);">
                      <i class="fas fa-edit"></i>
                    </div>
                    <div class="btn">
                      <i class="fas fa-trash-alt"></i>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="text-center text-secondary" *ngIf="allFiles.length == 0">
            No data found
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- fixed div on selecting a collection -->
  <div class="row mx-auto fixed-bottom px-3" style="width: 90%; background-color: #fff; height: 50px;">
    <div class="selected-items text-secondary align-self-center">1 item selected</div>
    <div class="mr-1 ml-3 align-self-center">|</div>
    <div class="btn btn-outline-primary border-0 align-self-center">Clear</div>
    <div class="btn btn-light align-self-center ml-auto bg-white" (click)="cmnModal('email')">
      <i class="fa fa-envelope mr-1"></i>Email
    </div>
    <div class="btn btn-light align-self-center bg-white" (click)="cmnModal('getLink')">
      <i class="fa fa-link mr-1"></i>Get a link
    </div>
    <div class="btn btn-light align-self-center bg-white" (click)="cmnModal('addToCollection')"><i
        class="fa fa-folder-plus mr-1"></i>Add to collection</div>
    <div class="btn btn-primary align-self-center"><i class="fas fa-trash-alt mr-1"></i>Delete</div>
  </div>

  <!-- add folder -->
  <ng-template #fldrModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{frmType=='updFldr'?'Rename':'Add'}} Folder</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form name="folderForm" (ngSubmit)="onSubmit()" [formGroup]="folderForm" novalidate>
      <div class="modal-body" ngbAutofocus>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Folder Name</mat-label>
          <input type="text" matInput placeholder="Folder Name" formControlName="name" maxlength="100" required />
          <mat-error *ngIf="folderForm.get('name')!.hasError('required')">
            Folder Name is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" [disabled]="fldrLoad">
          <app-loader [type]="'btn'" *ngIf="fldrLoad"></app-loader>
          Save
        </button>
      </div>
    </form>
  </ng-template>

  <!-- add url -->
  <ng-template #addURL let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add URL</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" ngbAutofocus>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Name</mat-label>
        <input type="text" matInput placeholder="Eg. Hiforce Homepage" maxlength="100">
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>URL</mat-label>
        <input type="text" matInput placeholder="Eg. https://www.hiforce.com" maxlength="300">
      </mat-form-field>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Add</button>
    </div>
  </ng-template>

  <!-- share with colleagues -->
  <ng-template #shareColl let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add URL</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" ngbAutofocus>
      <div class="file-sharing">
        File Sharing is ON
        <mat-slide-toggle class="float-right" #sharingValue></mat-slide-toggle>
      </div>
      <div class="rounded border border-primary d-flex text-justify text-primary px-2 my-3 py-2">
        <i class="fa fa-info-circle align-self-center mr-2"></i>
        File sharing is enabled for this file. Anyone at Hi-Force Hydraulic Tools with the file link will be able to
        view
        this file.
      </div>
      <div *ngIf="sharingValue.checked">
        <mat-label>Share Options:</mat-label>
        <mat-radio-group aria-label="Select an option" class="d-block">
          <mat-radio-button value="link" class="mx-3" checked="true" #link>Share by
            Link
          </mat-radio-button>
          <mat-radio-button value="email">Share by Email</mat-radio-button>
        </mat-radio-group>
        <hr>
        <div class="link" *ngIf="link.checked">
          <mat-form-field appearance="outline" class="w-100 copy-link">
            <mat-label>Get Link</mat-label>
            <input type="text" matInput value="https://www.google.com" readonly #linkText>
            <button matSuffix class="btn btn-primary" (click)="copyLink(linkText)">Copy Link</button>
          </mat-form-field>
        </div>
        <div class="email" *ngIf="!link.checked">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email To</mat-label>
            <input type="text" matInput placeholder="Enter Names or Email Address">
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Note</mat-label>
            <textarea type="text" matInput placeholder="Add a note ..."></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close('Save click')"
        [disabled]="!sharingValue.checked">Share</button>
    </div>
  </ng-template>
