<mat-tab-group [selectedIndex]="activeIndex" (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Profile">
    <span *ngIf="activeIndex==0">
      <app-profile></app-profile>
    </span>
  </mat-tab>
  <mat-tab label="Divisions">
    <span *ngIf="activeIndex==1">
      <app-division></app-division>
    </span>
  </mat-tab>
</mat-tab-group>

<!-- Edit Profile Modal -->
<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editProfileModalLabel">Edit Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>First Name</mat-label>
          <input matInput type="text" placeholder="First Name">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" placeholder="Last Name">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Email</mat-label>
          <input matInput type="text" placeholder="Email">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Language</mat-label>
          <mat-select>
            <mat-option value="abc">Abc</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Time Zone</mat-label>
          <mat-select>
            <mat-option value="abc">abc</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Password Modal -->
<div class="modal fade" id="editPasswordModal" tabindex="-1" role="dialog" aria-labelledby="editPasswordModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editPasswordModalLabel">Edit Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Password</mat-label>
          <input matInput type="text" placeholder="Password">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="text" placeholder="Confirm Password">
        </mat-form-field>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Division Modal -->
<div class="modal fade" id="addDivisionModal" tabindex="-1" role="dialog" aria-labelledby="addDivisionModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addDivisionModalLabel">Create New Division</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Name</mat-label>
          <input matInput type="text" placeholder="Name">
        </mat-form-field>
        <mat-checkbox class="ml-3 w-100">This division can share selected content globally. Global content can
          be viewed (but not edited) by all other divisions.</mat-checkbox>
        <hr>
        <mat-label class="font-weight-bold mb-2">Groups assigned to this division</mat-label>
        <mat-checkbox class="d-block ml-3">All Users</mat-checkbox>
        <mat-checkbox class="d-block ml-3">HES & Hi-Force</mat-checkbox>
        <mat-checkbox class="d-block ml-3">Hi-Force</mat-checkbox>
        <mat-checkbox class="d-block ml-3">Hi-Force Distributors</mat-checkbox>
        <mat-checkbox class="d-block ml-3">Protec & Hi-Force</mat-checkbox>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Division Modal -->
<div class="modal fade" id="editDivisionModal" tabindex="-1" role="dialog" aria-labelledby="editDivisionModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editDivisionModalLabel">Edit Division</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Name</mat-label>
          <input matInput type="text" placeholder="Name">
        </mat-form-field>
        <mat-checkbox class="ml-3 w-100">This division can share selected content globally. Global content can
          be viewed (but not edited) by all other divisions.</mat-checkbox>
        <hr>
        <mat-label class="font-weight-bold mb-2">Groups assigned to this division</mat-label>
        <mat-checkbox class="d-block ml-3">All Users</mat-checkbox>
        <mat-checkbox class="d-block ml-3">HES & Hi-Force</mat-checkbox>
        <mat-checkbox class="d-block ml-3">Hi-Force</mat-checkbox>
        <mat-checkbox class="d-block ml-3">Hi-Force Distributors</mat-checkbox>
        <mat-checkbox class="d-block ml-3">Protec & Hi-Force</mat-checkbox>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>

<!-- Update Groups Modal -->
<div class="modal fade" id="updateGroupsModal" tabindex="-1" role="dialog" aria-labelledby="updateGroupsModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateGroupsModalLabel">Update Groups</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <mat-label class="font-weight-bold mb-2">Groups assigned to this division</mat-label>
        <mat-checkbox class="d-block ml-3">All Users</mat-checkbox>
        <mat-checkbox class="d-block ml-3">HES & Hi-Force</mat-checkbox>
        <mat-checkbox class="d-block ml-3">Hi-Force</mat-checkbox>
        <mat-checkbox class="d-block ml-3">Hi-Force Distributors</mat-checkbox>
        <mat-checkbox class="d-block ml-3">Protec & Hi-Force</mat-checkbox>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>

<!-- Promote Member Modal -->
<div class="modal fade" id="promoteMemberModal" tabindex="-1" role="dialog" aria-labelledby="promoteMemberModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="promoteMemberModalLabel">Promote Divison Member</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Select a Member to Promote</mat-label>
          <mat-select>
            <mat-option value="abc">ABC</mat-option>
          </mat-select>
        </mat-form-field>
        <div class="contnt">
          <mat-label class="font-weight-bold mb-2">Content</mat-label>
          <mat-checkbox class="d-block ml-3">Manage Content</mat-checkbox>
          <mat-checkbox class="d-block ml-3">Manage Tags</mat-checkbox>
        </div>
        <div class="collab">
          <mat-label class="font-weight-bold mb-2">Collaboration</mat-label>
          <mat-checkbox class="d-block ml-3">Manage Spotlights and Announcements</mat-checkbox>
        </div>
        <div class="userMngmnt">
          <mat-label class="font-weight-bold mb-2">User Management</mat-label>
          <mat-checkbox class="d-block ml-3">Manage Users & Groups</mat-checkbox>
        </div>
        <div class="reporting">
          <mat-label class="font-weight-bold mb-2">Reporting</mat-label>
          <mat-checkbox class="d-block ml-3">View Content Reports</mat-checkbox>
        </div>
        <hr>
        <div class="settings">
          <mat-label class="font-weight-bold mb-2">Settings</mat-label>
          <mat-checkbox class="d-block ml-3">Notify user by email</mat-checkbox>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
