<!-- main -->
<div class="main main-employee p-3 container mt-3">
  <h3 class="mb-2 clearfix heading align-self-center">
    Collections
    <div class="float-right">
      <i class="fa mr-3 curs-ptr align-self-center" [ngClass]="{'fa-list-ul': view, 'fa-th-large': !view}"
        (click)="view = !view;" matTooltip="{{view? 'List View' : 'Grid View'}}"></i>
      <button class="btn btn-primary mb-2" (click)="colctnModal(collection, 'add')">New Collection</button>
    </div>
  </h3>
  <div class="text-right mb-2" *ngIf="view">
    Sort by:
    <span class="text-primary ml-2 curs-ptr" *ngFor="let c of cols, let i = index" (click)="sortChange(c, i)">
      {{c.n}}<i class="fa ml-1" [ngClass]="{'fa-sort-up align-bottom': c.asc, 'fa-sort-down align-top': !c.asc}"></i>
    </span>
  </div>
  <ul ngbNav #fldrNav="ngbNav" [(activeId)]="activeColctn"
    class="nav-tabs justify-content-end border-bottom border-color-grey mr-3 w-100 pr-2"
    (activeIdChange)="changeDispColctn()">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Active</a>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Disabled</a>
    </li>
  </ul>
  <ng-container *ngIf="view && !loading">
    <ng-container *ngIf="colctnArr && colctnArr.length>0 else noColctn">
      <div class="mt-2 row collections mx-0">
        <div class="card-container col-lg-3 col-md-4 col-sm-6 my-3 mx-auto mx-sm-0" *ngFor="let colctn of colctnArr">
          <div class="card">
            <div class="card-body curs-ptr" (click)="showContent(colctn.id)">
              <div class="imagePreview text-center">
                <img
                  [src]="colctn.collectionContents.length > 0 ? colctn.collectionContents[0].pdfImage ? colctn.collectionContents[0].pdfImage : colctn.collectionContents[0].urlIconPath :fldrIcon">
              </div>
            </div>
            <div class="card-footer">
              <div class="name">{{colctn.name}}</div>
              <div class="float-left text-secondary d-flex">
                <div class="date">{{(colctn.updatedDate|date:'dd MMM, yyyy')||'N/A'}}</div>
                <div class="mx-2">l</div>
                <div class="items">{{colctn.contentCount||0}} Item(s)</div>
              </div>
              <div class="float-right">
                <mat-checkbox (change)="selMe($event.checked, colctn.id)"></mat-checkbox>
              </div>
            </div>
            <div class="options rounded">
              <div class="dropleft">
                <button class="btn" type="button" id="shareDD" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="fas fa-share-square"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="shareDD">
                  <a class="dropdown-item" (click)="openModal(email)"><i class="fa fa-envelope mr-1"></i>Email</a>
                  <a class="dropdown-item" (click)="openModal(getLink)"><i class="fa fa-link mr-1"></i>Get a link</a>
                </div>
              </div>
              <div class="btn my-1" (click)="actDeactColctn(colctn.id)">
                <i class="mr-1 fas fa-toggle-{{isActiveColctn ? 'off text-primary' : 'on text-success'}}"></i>
              </div>
              <div class="dropleft">
                <button class="btn" type="button" id="optionsDD" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="fas fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="optionsDD">
                  <a class="dropdown-item" (click)="colctnModal(collection, 'dupl', colctn)"><i
                      class="fas fa-copy mr-1"></i>Duplicate</a>
                  <a class="dropdown-item" (click)="colctnModal(collection, 'ren', colctn)"><i
                      class="fas fa-edit mr-1"></i>Rename</a>
                  <a class="dropdown-item dd">
                    <i class="fa fa-download mr-1"></i>Download
                    <div class="dropdown-menu">
                      <a class="dropdown-item"><i class="fas fa-file-pdf mr-1"></i>As a single PDF</a>
                      <a class="dropdown-item"><i class="fas fa-file-alt mr-1"></i>As separate items</a>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noColctn>
      <div class="mx-auto mt-5 text-secondary" style="font-size: 20px;">
        No Collections Found
      </div>
    </ng-template>
  </ng-container>
  <div class="row collections" *ngIf="!view">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="border-top-0">
            <mat-checkbox></mat-checkbox>
          </th>
          <th class="border-top-0 curs-ptr" *ngFor="let c of cols, let i = index" (click)="sortChange(c, i)">
            {{c.n}}<i class="fa ml-1"
              [ngClass]="{'fa-sort-up align-bottom': c.asc, 'fa-sort-down align-top': !c.asc}"></i>
          </th>
          <th class="border-top-0"></th>
        </tr>
      </thead>
      <tbody *ngIf="colctnArr.length > 0 && !loading">
        <tr *ngFor="let colctn of colctnArr">
          <td class="align-middle">
            <mat-checkbox (change)="selMe($event.checked, colctn.id)"></mat-checkbox>
          </td>
          <td class="align-middle curs-ptr" (click)="showContent(colctn.id)">
            <div class="d-flex">
              <div class="imagePreview border mr-2">
                <img [src]="colctn.pdfImage?colctn.pdfImage:fldrIcon">
              </div>
              <div class="name align-self-center">{{colctn.name}}</div>
            </div>
          </td>
          <td class="align-middle">{{(colctn.updatedDate|date:'dd MMM, yyyy')||'N/A'}}</td>
          <td class="align-middle options">
            <div class="d-flex">
              <div class="dropleft">
                <button class="btn" type="button" id="shareDD" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="fas fa-share-square"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="shareDD">
                  <a class="dropdown-item" (click)="openModal(email)"><i class="fa fa-envelope mr-1"></i>Email</a>
                  <a class="dropdown-item" (click)="openModal(getLink)"><i class="fa fa-link mr-1"></i>Get a link</a>
                </div>
              </div>
              <div class="btn" (click)="actDeactColctn(colctn.id)">
                <i class="mr-1 fas fa-toggle-{{isActiveColctn ? 'off text-primary' : 'on text-success'}}"></i>
              </div>
              <div class="dropleft">
                <button class="btn" type="button" id="optionsDD" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="fas fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="optionsDD">
                  <a class="dropdown-item" (click)="colctnModal(collection, 'dupl', colctn)"><i
                      class="fas fa-copy mr-1"></i>Duplicate</a>
                  <a class="dropdown-item" (click)="colctnModal(collection, 'ren', colctn)"><i
                      class="fas fa-edit mr-1"></i>Rename</a>
                  <a class="dropdown-item dd">
                    <i class="fa fa-download mr-1"></i>Download
                    <div class="dropdown-menu">
                      <a class="dropdown-item"><i class="fas fa-file-pdf mr-1"></i>As a single PDF</a>
                      <a class="dropdown-item"><i class="fas fa-file-alt mr-1"></i>As separate items</a>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mx-auto mt-5 text-secondary" style="font-size: 20px;" *ngIf="colctnArr.length == 0 && !loading">
      No Collections Found
    </div>
  </div>
  <app-loader [type]="'page'" *ngIf="loading"></app-loader>
</div>

<!-- fixed div on selecting a collection -->
<div class="row mx-auto fixed-bottom px-3" style="width: 90%; background-color: #fff; height: 50px;"
  *ngIf="selColctnArr.length > 0">
  <div class="selected-items text-secondary align-self-center">{{selColctnArr.length}} item(s) selected</div>
  <div class="mr-1 ml-3 align-self-center">|</div>
  <div class="btn btn-outline-primary border-0 align-self-center">Clear</div>
  <div class="btn btn-light align-self-center ml-auto bg-white" (click)="openModal(email)"><i
      class="fa fa-envelope mr-1"></i>Email</div>
  <div class="btn btn-light align-self-center bg-white" (click)="openModal(getLink)"><i class="fa fa-link mr-1"></i> a
    link</div>
  <div class="btn btn-outline-{{isActiveColctn ? 'primary' : 'success'}} align-self-center"
    (click)="actDeactColctn(undefined)">
    <i class="mr-1 fas fa-toggle-{{isActiveColctn ? 'off' : 'on'}}"></i> {{isActiveColctn ? 'Deactivate' : 'Activate'}}
  </div>
</div>

<!-- new/rename/duplicate collection modal -->
<ng-template #collection let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{multiForm == 1 ? 'Add' : multiForm == 2 ? 'Rename' : 'Duplicate'}}
      Collection</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form name="colctnForm" (ngSubmit)="submitColctn()" [formGroup]="colctnForm">
    <div class="modal-body" ngbAutofocus>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="New Collection Name" required formControlName="name">
        <mat-error *ngIf="colctnForm.get('name')!.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="colctnForm!.invalid || disabled">
        <app-loader [type]="'btn'" *ngIf="disabled"></app-loader>
        Save
      </button>
    </div>
  </form>
</ng-template>

<!-- email modal -->
<ng-template #email let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Email</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" ngbAutofocus>
    <div class="row">
      <div class="col-9 border-right">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>To</mat-label>
          <input matInput type="text" placeholder="Recipients">
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Subject</mat-label>
          <input matInput type="text" placeholder="Subject">
        </mat-form-field>
        <div class="row">
          <mat-form-field appearance="outline" class="col-8">
            <mat-label>Message</mat-label>
            <input matInput type="text" placeholder="Search Content">
          </mat-form-field>
          <div class="col-4 mt-3">
            <div class="btn btn-primary" (click)="openModal(addResource)">
              <i class="fas fa-file-medical mr-1"></i>Add resource
            </div>
          </div>
        </div>
        <mat-form-field appearance="outline" class="w-100">
          <textarea matInput type="text" placeholder=""></textarea>
        </mat-form-field>
      </div>
      <div class="col-3">
        <h5>Sharing Settings</h5>
        <mat-checkbox class="ml-2">Allow downloads</mat-checkbox>
        <mat-checkbox class="ml-2">Send me a copy</mat-checkbox>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<!-- get a link modal -->
<ng-template #getLink let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Get a Link</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" ngbAutofocus>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Name</mat-label>
      <input type="text" matInput placeholder="Name">
    </mat-form-field>
    <mat-checkbox>Allow downloads</mat-checkbox>
    <mat-label class="d-block mt-3">Content</mat-label>
    <div class="row">
      <div class="col-9">
        <mat-form-field appearance="outline" class="w-100 search">
          <mat-label class="ml-2">Search for content</mat-label>
          <input class="ml-2" type="text" matInput placeholder="Search for content">
          <i class="fa fa-search text-secondary" matPrefix style="font-size: 18px;"></i>
        </mat-form-field>
      </div>
      <div class="col-3 mt-3">
        <div class="btn btn-primary">Browse</div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<!-- add resource modal -->
<ng-template #addResource let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Select Resource</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" ngbAutofocus>
    <div class="search">
      <mat-form-field appearance="outline" class="custom-mat-input w-100 mb-2 bg-white" [floatLabel]="'never'">
        <i matPrefix class="fas fa-search"></i>
        <input matInput placeholder="Search">
      </mat-form-field>
    </div>
    <!-- experiences -->
    <div class="text-secondary font-weight-bold my-2">Experiences</div>
    <div class="exp d-flex border-bottom py-2 dark-bg-hover">
      <div class="icon align-self-center mr-2">
        <img src="assets/images/discription.png" style="max-height:50px;">
      </div>
      <div class="name align-self-center">
        English
      </div>
      <div class="arrow align-self-center ml-auto mr-3">
        <i class="fa fa-angle-right"></i>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">0 Items Selected</button>
  </div>
</ng-template>
