<!-- main -->
<div class="main main-employee p-3 container mt-3">
  <h3 class="mb-2 clearfix heading align-self-center">
    Collections
    <div class="float-right">
      <i class="fa mr-3 curs-ptr align-self-center" [ngClass]="{'fa-list-ul': view, 'fa-th-large': !view}"
        (click)="view = !view;" matTooltip="{{view? 'List View' : 'Grid View'}}"></i>
      <button class="btn btn-primary mb-2" (click)="cmnModal('coll', 'add')">New Collection</button>
    </div>
  </h3>
  <div class="text-right mb-2" *ngIf="view">
    Sort by:
    <span class="text-primary ml-2 curs-ptr" *ngFor="let c of cols, let i = index" (click)="sortChange(c, i)">
      {{c.n}}<i class="fa ml-1" [ngClass]="{'fa-sort-up align-bottom': c.asc, 'fa-sort-down align-top': !c.asc}"></i>
    </span>
  </div>
  <ul ngbNav #fldrNav="ngbNav" [(activeId)]="activeColctn"
    class="nav-tabs justify-content-end border-bottom border-color-grey mr-3 w-100 pr-2"
    (activeIdChange)="changeDispColctn()">
    <li [ngbNavItem]="1">
      <a ngbNavLink>Active</a>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Disabled</a>
    </li>
  </ul>
  <ng-container *ngIf="view && !loading">
    <ng-container *ngIf="colctnArr && colctnArr.length>0 else noColctn">
      <div class="mt-2 row collections mx-0">
        <div class="card-container col-lg-3 col-md-4 col-sm-6 my-3 mx-auto mx-sm-0" *ngFor="let colctn of colctnArr">
          <div class="card">
            <div class="card-body curs-ptr" (click)="showContent(colctn.id)">
              <div class="imagePreview text-center">
                <img
                  [src]="colctn.collectionContents.length > 0 ? colctn.collectionContents[0].pdfImage ? colctn.collectionContents[0].pdfImage : colctn.collectionContents[0].urlIconPath :fldrIcon">
              </div>
            </div>
            <div class="card-footer">
              <div class="name">{{colctn.name}}</div>
              <div class="float-left text-secondary d-flex">
                <div class="date">{{(colctn.updatedDate|date:'dd MMM, yyyy')||'N/A'}}</div>
                <div class="mx-2">l</div>
                <div class="items">{{colctn.contentCount||0}} Item(s)</div>
              </div>
              <div class="float-right">
                <mat-checkbox (change)="selMe($event.checked, colctn.id)"></mat-checkbox>
              </div>
            </div>
            <div class="options rounded">
              <div class="dropleft">
                <button class="btn" type="button" id="shareDD" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="fas fa-share-square"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="shareDD">
                  <a class="dropdown-item" (click)="cmnModal('email')"><i class="fa fa-envelope mr-1"></i>Email</a>
                  <a class="dropdown-item" (click)="cmnModal('getLink')"><i class="fa fa-link mr-1"></i>Get a link</a>
                </div>
              </div>
              <div class="btn my-1" (click)="actDeactColctn(colctn.id)">
                <i class="mr-1 fas fa-toggle-{{isActiveColctn ? 'off text-primary' : 'on text-success'}}"></i>
              </div>
              <div class="dropleft">
                <button class="btn" type="button" id="optionsDD" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="fas fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="optionsDD">
                  <a class="dropdown-item" (click)="cmnModal('coll', 'dupl',colctn)"><i
                      class="fas fa-copy mr-1"></i>Duplicate</a>
                  <a class="dropdown-item" (click)="cmnModal('coll', 'ren',colctn)"><i
                      class="fas fa-edit mr-1"></i>Rename</a>
                  <a class="dropdown-item dd">
                    <i class="fa fa-download mr-1"></i>Download
                    <div class="dropdown-menu">
                      <a class="dropdown-item"><i class="fas fa-file-pdf mr-1"></i>As a single PDF</a>
                      <a class="dropdown-item"><i class="fas fa-file-alt mr-1"></i>As separate items</a>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noColctn>
      <div class="mx-auto mt-5 text-secondary" style="font-size: 20px;">
        No Collections Found
      </div>
    </ng-template>
  </ng-container>
  <div class="row collections" *ngIf="!view">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="border-top-0">
            <mat-checkbox></mat-checkbox>
          </th>
          <th class="border-top-0 curs-ptr" *ngFor="let c of cols, let i = index" (click)="sortChange(c, i)">
            {{c.n}}<i class="fa ml-1"
              [ngClass]="{'fa-sort-up align-bottom': c.asc, 'fa-sort-down align-top': !c.asc}"></i>
          </th>
          <th class="border-top-0"></th>
        </tr>
      </thead>
      <tbody *ngIf="colctnArr.length > 0 && !loading">
        <tr *ngFor="let colctn of colctnArr">
          <td class="align-middle">
            <mat-checkbox (change)="selMe($event.checked, colctn.id)"></mat-checkbox>
          </td>
          <td class="align-middle curs-ptr" (click)="showContent(colctn.id)">
            <div class="d-flex">
              <div class="imagePreview border mr-2">
                <img [src]="colctn.pdfImage?colctn.pdfImage:fldrIcon">
              </div>
              <div class="name align-self-center">{{colctn.name}}</div>
            </div>
          </td>
          <td class="align-middle">{{(colctn.updatedDate|date:'dd MMM, yyyy')||'N/A'}}</td>
          <td class="align-middle options">
            <div class="d-flex">
              <div class="dropleft">
                <button class="btn" type="button" id="shareDD" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="fas fa-share-square"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="shareDD">
                  <a class="dropdown-item" (click)="cmnModal('email')"><i class="fa fa-envelope mr-1"></i>Email</a>
                  <a class="dropdown-item" (click)="cmnModal('getLink')"><i class="fa fa-link mr-1"></i>Get a link</a>
                </div>
              </div>
              <div class="btn" (click)="actDeactColctn(colctn.id)">
                <i class="mr-1 fas fa-toggle-{{isActiveColctn ? 'off text-primary' : 'on text-success'}}"></i>
              </div>
              <div class="dropleft">
                <button class="btn" type="button" id="optionsDD" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="fas fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="optionsDD">
                  <a class="dropdown-item" (click)="cmnModal('coll', 'dupl',colctn)"><i
                      class="fas fa-copy mr-1"></i>Duplicate</a>
                  <a class="dropdown-item" (click)="cmnModal('coll', 'ren',colctn)"><i
                      class="fas fa-edit mr-1"></i>Rename</a>
                  <a class="dropdown-item dd">
                    <i class="fa fa-download mr-1"></i>Download
                    <div class="dropdown-menu">
                      <a class="dropdown-item"><i class="fas fa-file-pdf mr-1"></i>As a single PDF</a>
                      <a class="dropdown-item"><i class="fas fa-file-alt mr-1"></i>As separate items</a>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mx-auto mt-5 text-secondary" style="font-size: 20px;" *ngIf="colctnArr.length == 0 && !loading">
      No Collections Found
    </div>
  </div>
  <app-loader [type]="'page'" *ngIf="loading"></app-loader>
</div>

<!-- fixed div on selecting a collection -->
<app-sel-itm-fxd-div [selArr]="selColctnArr" [isActive]="isActiveColctn" (actDeact)="actDeactColctn(undefined)"
  *ngIf="selColctnArr.length > 0"></app-sel-itm-fxd-div>
