<!-- <nav aria-label="breadcrumb">
  <ol class="breadcrumb rounded-0">
    <li class="breadcrumb-item active align-self-center" aria-current="page">English</li>
    <span class="ml-auto">
      <div class="curs-ptr" (click)="view = !view;">
        <i class="fa" [ngClass]="{'fa-list-ul' : view, 'fa-th-large': !view}" style="font-size:1.75rem;"></i>
      </div>
    </span>
  </ol>
</nav> -->

<app-loader [type]="'page'" *ngIf="loading"></app-loader>
<!-- grid view -->
<div class="container">
  <div class="row expid-grid" *ngIf="view">
    <ng-container *ngIf="!loading">
      <ng-container *ngFor="let wSC of wrkspcCntnts">
        <ng-container [ngSwitch]="wSC.key">
          <ng-container *ngSwitchCase="'fldr'">
            <ng-container *ngTemplateOutlet="cntntFldr"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'smtFldr'">
            <ng-container *ngTemplateOutlet="cntntFldr"></ng-container>
          </ng-container>
          <div class="view-items col-sm-6 col-md-4 col-lg-3 text-center file curs-ptr my-2 p-2" *ngSwitchDefault>
            <div class="icon" (click)="viewContent(wSC)">
              <img [src]="wSC.pdfImagePath ? wSC.pdfImagePath : wSC.pdfImage ? wSC.pdfImage : defImg">
            </div>
            <div class="info bg-hi-dark-grey rounded d-flex mt-2 py-1 w-75 mx-auto">
              <i class="fa fa-file ml-3 align-self-center mr-1"></i>
              <div class="mx-auto text-truncate pr-1">{{wSC.name}}</div>
            </div>
            <div class="options rounded">
              <div class="dropleft">
                <button class="btn" type="button" id="shareDD" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="fas fa-share-square"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="shareDD">
                  <a class="dropdown-item curs-ptr" (click)="cmnModal(wSC,'email')">
                    <i class="fa fa-envelope mr-1"></i>Email
                  </a>
                  <a class="dropdown-item curs-ptr" (click)="cmnModal(wSC,'getLink')">
                    <i class="fa fa-link mr-1"></i>Get a link
                  </a>
                </div>
              </div>
              <div class="btn my-1" (click)="cmnModal(wSC,'addToColl')">
                <i class="fas fa-folder-plus"></i>
              </div>
            </div>
          </div>
          <ng-template #cntntFldr>
            <div class="view-items col-sm-6 col-md-4 col-lg-3 text-center folder curs-ptr my-2 p-2">
              <div class="icon" (click)="navgToCntnt(wSC)">
                <img [src]="wSC.folderIconPath?wSC.folderIconPath : fldrIcon">
              </div>
              <div class="info bg-hi-dark-grey rounded d-flex mt-2 py-1 w-75 mx-auto" *ngIf="!wSC.hideLabelInWorkspace">
                <div class="mx-auto text-truncate pr-1">{{wSC.name}}</div>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </ng-container>
      <div class="mx-auto pt-5" *ngIf="wrkspcCntnts.length<=0">
        No data found
      </div>
    </ng-container>
  </div>
</div>

<!-- list view -->
<div class="row mx-0 expid-list" *ngIf="!view">
  <!-- <app-loader [type]="'page'" *ngIf="loading"></app-loader> -->
  <ng-container *ngIf="!loading">
    <div class="col-md-3">
      <mat-accordion>
        <mat-expansion-panel class="my-2">
          <mat-expansion-panel-header>
            <mat-panel-title class="align-self-center">
              Type (0)
            </mat-panel-title>
            <mat-panel-description>
              <div class="align-self-center">
                <div class="btn btn-light">Clear</div>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <ul class="list-unstyled mb-0">
              <li class="dark-bg-hover pt-2 px-2" *ngFor="let t of testArr">
                <mat-checkbox>Document</mat-checkbox>
                <span class="float-right text-secondary">92</span>
              </li>
            </ul>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="my-2">
          <mat-expansion-panel-header>
            <mat-panel-title class="align-self-center">
              Tags (0)
            </mat-panel-title>
            <mat-panel-description>
              <div class="align-self-center">
                <div class="btn btn-light">Clear</div>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <div class="search">
              <mat-form-field appearance="outline" class="custom-mat-input w-100 mb-2 bg-white" [floatLabel]="'never'">
                <i matPrefix class="fas fa-search"></i>
                <input matInput placeholder="Search for tags">
              </mat-form-field>
            </div>
            <hr>
            <ul class="list-unstyled mb-0">
              <li class="dark-bg-hover pt-2 px-2" *ngFor="let t of testArr">
                <mat-checkbox>Document</mat-checkbox>
                <span class="float-right text-secondary">92</span>
              </li>
            </ul>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="col-md-9">
      <ng-container *ngFor="let wSC of wrkspcCntnts">
        <ng-container [ngSwitch]="wSC.key">
          <ng-container *ngSwitchCase="'fldr'">
            <ng-container *ngTemplateOutlet="cntntFldr1"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'smtFldr'">
            <ng-container *ngTemplateOutlet="cntntFldr1"></ng-container>
          </ng-container>
          <div class="file row bg-white rounded p-3 curs-ptr my-2 mx-0" *ngSwitchDefault>
            <mat-checkbox class="align-self-center"></mat-checkbox>
            <div class="icon align-self-center mx-2 mx-sm-4" (click)="viewContent(wSC)">
              <img [src]="wSC.pdfImagePath ? wSC.pdfImagePath : wSC.pdfImage ? wSC.pdfImage : defImg"
                style="max-width: 72px;">
            </div>
            <div class="row w-75">
              <div class="col-md-9 info align-self-center">
                <h5 class="mb-0 text-truncate" (click)="viewContent(wSC)">{{wSC.name}}</h5>
                <!-- <i class="fa fa-file mr-2"></i>Document in English -->
                <div class="text-secondary" style="font-size: 12px;">Updated Jan 26,2020</div>
              </div>
              <div class="col-md-3 options d-flex align-self-center">
                <div class="dropleft mr-2">
                  <button class="btn btn-light" type="button" id="shareDD" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fas fa-share-square"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="shareDD">
                    <a class="dropdown-item curs-ptr" (click)="cmnModal(wSC,'email')"><i
                        class="fa fa-envelope mr-1"></i>Email</a>
                    <a class="dropdown-item curs-ptr" (click)="cmnModal(wSC,'getLink')"><i
                        class="fa fa-link mr-1"></i>Get
                      a
                      link</a>
                  </div>
                </div>
                <div class="btn btn-light" (click)="cmnModal(wSC,'addToColl')">
                  <i class="fas fa-folder-plus"></i>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #cntntFldr1>
          <div class="folder d-flex bg-white rounded p-3 curs-ptr my-2">
            <mat-checkbox class="align-self-center"></mat-checkbox>
            <div class="icon align-self-center mx-4" (click)="navgToCntnt(wSC)">
              <img [src]="wSC.folderIconPath?wSC.folderIconPath:fldrIcon" style="max-width: 72px;">
            </div>
            <div class="info align-self-center" *ngIf="!wSC.hideLabelInWorkspace">
              <h5 class="mb-0" (click)="navgToCntnt(wSC)">{{wSC.name}}</h5>
              <!-- <i class="fa fa-folder mr-2"></i>Folder in English -->
            </div>
          </div>
        </ng-template>
      </ng-container>
      <div class="text-center pt-5" *ngIf="wrkspcCntnts.length<=0">
        No data found
      </div>
      <hr>
    </div>
  </ng-container>
</div>

<!-- font-weight-normal': !col.isSelected IN TAGS TR-->
