<div class="users-section">
  <div class="buttons-row row mt-3 justify-content-between mx-2">
    <div class="dropdown">
      <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="addCOntentDD" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Add
      </button>
      <div class="dropdown-menu" aria-labelledby="addCOntentDD">
        <a class="dropdown-item curs-ptr" (click)="openModal(usrModal,'add')"><i class="fas fa-user-plus mr-1"></i>
          Create New User
        </a>
        <a class="dropdown-item" [routerLink]="'/user/import'"><i class="fas fa-file-import mr-1"></i>
          Import CSV File
        </a>
      </div>
    </div>
  </div>

  <div class="row mt-4 mx-0">
    <div class="sub-tab-nav" [ngClass]="{'col-md-12': !showRowInfo, 'col-md-8': showRowInfo}">
      <div class="card overflow-hidden">
        <div class="card-header border-0">
          <mat-tab-group [selectedIndex]="activeIndex" (selectedTabChange)="onTabChange($event)">
            <mat-tab label="All Users">
              <div class="card-body rounded-bottom bg-white px-0 pb-0">
                <ng-container *ngTemplateOutlet="srcHdrTxt"></ng-container>
                <app-loader [type]="'page'" *ngIf="loading"></app-loader> <!-- loader -->
                <ng-container *ngTemplateOutlet="usrTable"></ng-container>
              </div>
            </mat-tab>
            <mat-tab label="Active Users">
              <div class="card-body rounded-bottom bg-white px-0 pb-0">
                <ng-container *ngTemplateOutlet="srcHdrTxt"></ng-container>
                <app-loader [type]="'page'" *ngIf="loading"></app-loader> <!-- loader -->
                <ng-container *ngTemplateOutlet="usrTable"></ng-container>
              </div>
            </mat-tab>
            <mat-tab label="Deactive Users">
              <div class="card-body rounded-bottom bg-white px-0 pb-0">
                <ng-container *ngTemplateOutlet="srcHdrTxt"></ng-container>
                <app-loader [type]="'page'" *ngIf="loading"></app-loader> <!-- loader -->
                <ng-container *ngTemplateOutlet="usrTable"></ng-container>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
    <div class="workspace w-100 col-md-4" *ngIf="showRowInfo">
      <app-loader [type]="'page'" *ngIf="docLoading"></app-loader>
      <div class="doc" *ngIf="!docLoading">
        <div class="card">
          <div class="card-header row m-0">
            <h5 class="mb-0 pl-0 align-self-center">{{rowInfo.firstName}}</h5>
            <div class="ml-auto">
              <div class="btn btn-light" (click)="closeDoc()">
                <i class="fa fa-times"></i>
              </div>
            </div>
          </div>
          <div class="card-header bg-hi-light-grey p-1 row m-0">
            <!-- <button class="btn btn-light" (click)="delUsr()">
              <i class="fa fa-trash"></i>
            </button> -->
            <!-- Button trigger for edit user modal -->
            <button type="button" class="btn btn-light" (click)="openModal(usrModal, 'edit')">
              <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-light">
              <i class="fa fa-chart-line"></i>
            </button>
          </div>
          <div class="card-body">
            <div class="doc-details details border-bottom mb-3 pb-3">
              <div class="heading text-hi-dark-grey font-weight-bold">Details</div>
              <div class="name">
                <label class="text-hi-dark-grey mb-0 mt-2">Name</label>
                <div class="value">
                  {{getName(rowInfo)}}
                </div>
              </div>
              <div class="email">
                <label class="text-hi-dark-grey mb-0 mt-2">Email</label>
                <div class="value">
                  {{rowInfo.email||'N/A'}}
                </div>
              </div>
              <div class="role">
                <label class="text-hi-dark-grey mb-0 mt-2">Role</label>
                <div class="value">
                  {{rowInfo.role && rowInfo.role.name ?rowInfo.role.name:'N/A'}}
                </div>
              </div>
              <div class="password">
                <label class="text-hi-dark-grey mb-0 mt-2">Password</label>
                <div class="value"> ********* </div>
              </div>
            </div>
            <div class="doc-details location border-bottom mb-3 pb-3">
              <div class="heading text-hi-dark-grey font-weight-bold">Location</div>
              <div class="language">
                <label class="text-hi-dark-grey mb-0 mt-2">Language</label>
                <div class="value">
                  {{rowInfo.languageId && lngs[rowInfo.languageId]?lngs[rowInfo.languageId]:'N/A'}}
                </div>
              </div>
              <div class="time-zone">
                <label class="text-hi-dark-grey mb-0 mt-2">Time Zone</label>
                <div class="value">
                  Europe / London
                </div>
              </div>
            </div>
            <div class="doc-details status border-bottom mb-3 pb-3">
              <div class="heading text-hi-dark-grey font-weight-bold">Status</div>
              <div class="activated">
                <label class="text-hi-dark-grey mb-0 mt-2">Activated</label>
                <div class="value">
                  {{rowInfo.isActive?"Yes":"NO"}}
                </div>
              </div>
            </div>
            <!-- <div class="doc-details prod-licenses border-bottom mb-3 pb-3">
              <div class="heading text-hi-dark-grey font-weight-bold">Product Licenses</div>
              <div class="content_">
                <label class="text-hi-dark-grey mb-0 mt-2">Content</label>
                <div class="value">
                  Direct
                </div>
              </div>
            </div> -->
            <div class="doc-details in-groups border-bottom mb-3 pb-3">
              <div class="heading text-hi-dark-grey font-weight-bold">In Groups</div>
              <div class="value mt-2">
                <ul class="list-unstyled mb-0"
                  *ngIf="rowInfo.employeeGroups && rowInfo.employeeGroups.length>0 else noGrp">
                  <li *ngFor="let empGrp of rowInfo.employeeGroups">{{empGrp.groupName}}</li>
                </ul>
                <ng-template #noGrp>No Group</ng-template>
              </div>
            </div>
            <div class="doc-details assigned-experiences border-bottom mb-3 pb-3">
              <div class="heading text-hi-dark-grey font-weight-bold">Assigned Experiences</div>
              <div class="individually">
                <label class="text-hi-dark-grey mb-0 mt-2">Individually</label>
                <div class="value">
                  <ul class="list-unstyled mb-0">
                    <li>Charity</li>
                    <li>Abc</li>
                    <li>def</li>
                  </ul>
                </div>
              </div>
              <div class="via-group">
                <label class="text-hi-dark-grey mb-0 mt-2">Via Group</label>
                <div class="value">
                  <ul class="list-unstyled mb-0">
                    <li>Charity</li>
                    <li>Abc</li>
                    <li>def</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="doc-details information border-bottom mb-3 pb-3">
              <div class="heading text-hi-dark-grey font-weight-bold">Information</div>
              <div class="created">
                <label class="text-hi-dark-grey mb-0 mt-2">Created</label>
                <div class="value">
                  {{rowInfo.lastLoginTimestamp}}
                  <!-- create time -->
                </div>
              </div>
              <div class="last-login">
                <label class="text-hi-dark-grey mb-0 mt-2">Last Login</label>
                <div class="value">
                  {{rowInfo.lastLoginTimestamp}}
                </div>
              </div>
            </div>
            <div class="doc-details device">
              <div class="heading text-hi-dark-grey font-weight-bold">Device</div>
              <div class="receive-notifications">
                <label class="text-hi-dark-grey mb-0 mt-2">Able to receive notifications</label>
                <div class="value">Yes</div>
              </div>
              <div class="device-model">
                <label class="text-hi-dark-grey mb-0 mt-2">Device Model</label>
                <div class="value">{{rowInfo.deviceModel||'N/A'}}</div>
              </div>
              <div class="os">
                <label class="text-hi-dark-grey mb-0 mt-2">Operating System</label>
                <div class="value">{{rowInfo.osUsed||'N/A'}}</div>
              </div>
              <div class="app-ver">
                <label class="text-hi-dark-grey mb-0 mt-2">App Version</label>
                <div class="value">1.0.0</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Heading Search and Filter -->
<ng-template #srcHdrTxt>
  <h5 class="card-title px-3">
    <div class="row heading">
      <div class="search col-lg-8 col-sm-7">
        <mat-form-field appearance="outline" class="custom-mat-input w-100 mb-2" [floatLabel]="'never'">
          <i matPrefix class="fas fa-search"></i>
          <input matInput placeholder="Search ..." autocomplete="disabled" [(ngModel)]="searchTxt"
            (ngModelChange)='searchTxtChng.next($event)'>
          <div matSuffix class="curs-ptr">
            <i class="fas fa-sliders-h"></i>
          </div>
        </mat-form-field>
      </div>
      <div class="col-lg-4 col-sm-5 align-self-center">
        <div class="float-left">
          <button type="button" class="btn btn-light" (click)="openModal(sendInvitation)">
            Send Invitations
          </button>
        </div>
        <div class="float-right">
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" id="cogDD" data-toggle="dropdown">
              <i class="fas fa-cog"></i>
            </button>
            <div class="cog dropdown-menu dropdown-menu-right" aria-labelledby="cogDD"
              (click)="$event.stopPropagation();">
              <div class="scrollable">
                <span class="ml-2 heading">Visible Columns</span>
                <ul cdkDropList id="cdk-vis-items" #visbList="cdkDropList" [cdkDropListData]="visbCols"
                  class="min-ht pl-0 mt-2" [cdkDropListConnectedTo]="[hidList]" (cdkDropListDropped)="drop($event)">
                  <button class="dropdown-item pl-2" *ngFor="let col of visbCols;let i=index" cdkDrag>
                    <span class="ellipsis mr-2">
                      <i class="fa fa-ellipsis-v"></i>
                      <i class="fa fa-ellipsis-v"></i>
                    </span>
                    <i class="text-primary fas fa-eye mr-2" (click)="showHideCols(col,'hide',i)"></i>{{col.n}}
                  </button>
                  <span *ngIf="visbCols.length==0" class="ml-4 text-secondary">
                    No visbible columns
                  </span>
                </ul>
                <span class="ml-2 heading">Hidden Columns</span>
                <ul cdkDropList id="cdk-hid-items" #hidList="cdkDropList" [cdkDropListData]="hidCols"
                  class="min-ht pl-0 mt-2 mb-0" [cdkDropListConnectedTo]="[visbList]"
                  (cdkDropListDropped)="drop($event)">
                  <button class="dropdown-item pl-2" *ngFor="let col of hidCols;let i=index" cdkDrag>
                    <span class="ellipsis mr-2 mb-1">
                      <i class="fa fa-ellipsis-v"></i>
                      <i class="fa fa-ellipsis-v"></i>
                    </span>
                    <i class="fas fa-eye-slash mr-2" (click)="showHideCols(col,'show',i)"></i>{{col.n}}
                  </button>
                  <span *ngIf="hidCols.length==0" class="ml-4 text-secondary">
                    No hidden columns
                  </span>
                </ul>
              </div>
              <hr class="mb-2">
              <div class="float-right mr-2">
                <button class="btn btn-secondary btn-sm mr-2" (click)=closeDropdown($event)>Cancel</button>
                <button class="btn btn-primary btn-sm" (click)=saveHdrChngs($event);>Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </h5>
</ng-template>

<ng-template #usrTable>
  <div *ngIf="!loading">
    <div class="card-text px-3">
      <table class="table table-hover text-dark w-100" [ngClass]="{'hide-rows': showRowInfo}">
        <thead>
          <tr>
            <th class="curs-ptr" *ngFor="let col of cols;let i =index" (click)="sortChange(col,i)">
              {{col.n}}
              <i class="ml-1 fas"
                [ngClass]="{'fa-sort-down align-top': !col.asc, 'fa-sort-up align-bottom': col.asc}"></i>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="!loading && usrs.length > 0">
          <tr *ngFor="let usr of usrs" (click)="toggleInfo(usr)" [ngClass]="{'deact':!usr.isActive,'sel-row':(rowInfo.id === usr.id)}">
            <td *ngFor="let col of cols">
              <span [ngSwitch]="col.k">
                <span *ngSwitchCase="'name'">
                  {{getName(usr)}}<small><br />{{usr.email}}</small>
                </span>
                <span *ngSwitchCase="'roleId'">
                  {{usr.role && usr.role.name ?usr.role.name:'N/A'}}
                </span>
                <span *ngSwitchDefault>{{usr[col.k]}}</span>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center text-secondary" *ngIf="!loading && usrs.length == 0">
        No User found
      </div>
    </div>
    <app-pagination [pageSize]="pageSize" [totalCount]="totalCount" [page]="pageNo"
      (pageSizeChange)="pageSizeChange($event)" (paginationNum)="paginationNum($event)"></app-pagination>
    <!-- <div class="card-footer row justify-content-between mx-0">
      <div class="pages">
        <mat-form-field appearance="outline" class="mr-2">
          <mat-select [(ngModel)]="pageSize" (selectionChange)="chngPageSize()">
            <mat-option *ngFor="let lP of lmtPage" [value]="lP">{{lP}}</mat-option>
          </mat-select>
        </mat-form-field>
        <span>Showing 1-10 of 100 </span>
      </div>
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link bg-hi-grey" href="javascript:void(0)" tabindex="-1" aria-disabled="true">
            <i class="fas fa-chevron-left"></i>
          </a>
        </li>
        <li class="page-item"><a class="page-link bg-hi-grey" href="javascript:void(0)">1</a></li>
        <li class="page-item"><a class="page-link bg-hi-grey" href="javascript:void(0)">2</a></li>
        <li class="page-item"><a class="page-link bg-hi-grey" href="javascript:void(0)">3</a></li>
        <li class="page-item">
          <a class="page-link bg-hi-grey" href="javascript:void(0)"><i class="fas fa-chevron-right"></i></a>
        </li>
      </ul>
    </div> -->
  </div>
</ng-template>
<!-- send invitation modal  -->
<ng-template #sendInvitation let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Send Invitations</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <small>Select from the oprions below to send invitations to corresponding
      users:</small>
    <ul class="list-unstyled mt-3">
      <li class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="resendChk">
        <label class="form-check-label" for="resendChk"><small>
            Resend Pending Invitations
          </small></label>
      </li>
      <li class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="sendChk">
        <label class="form-check-label" for="sendChk"><small>
            Send First Invitations
          </small></label>
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<!-- User modal  -->
<ng-template #usrModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{isEdit?'Edit':'Create New'}} User</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form name="usrForm" (ngSubmit)="onSubmit()" [formGroup]="usrForm" novalidate>
    <div class="modal-body">
      <div class="row justify-content-between">
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>First Name</mat-label>
            <input matInput type="text" placeholder="First Name" formControlName="firstName" required>
            <mat-error *ngIf="usrForm.get('firstName')!.hasError('required')">
              First Name is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" placeholder="Last Name" formControlName="lastName" required>
            <mat-error *ngIf="usrForm.get('lastName')!.hasError('required')">
              Last Name is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput type="text" placeholder="Email" formControlName="email" required>
            <mat-error *ngIf="usrForm.get('email')!.hasError('required')">
              Email is required
            </mat-error>
            <mat-error
              *ngIf="!usrForm.get('email')!.hasError('required') && usrForm.get('email')!.hasError('invalidEmail')">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row justify-content-between">
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Language</mat-label>
            <mat-select formControlName="languageId" required>
              <mat-option *ngFor="let lng of lngArr" [value]="lng.v">{{lng.n}}</mat-option>
            </mat-select>
            <mat-error *ngIf="usrForm.get('languageId')!.hasError('required')">
              Language is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Time Zone</mat-label>
            <mat-select>
              <mat-option value="company-timezone">Company Timezone</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="border w-100 mb-4"></div>
      <div class="row justify-content-between">
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Role</mat-label>
            <mat-select formControlName="roleId" required>
              <mat-option *ngFor="let r of rolesArr" [value]="r.v">{{r.n}}</mat-option>
            </mat-select>
            <mat-error *ngIf="usrForm.get('roleId')!.hasError('required')">
              Role is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-chip-list #chipList aria-label="User's Groups *">
              <mat-chip *ngFor="let d of selGrps" [selectable]="selectable" [removable]="removable"
                (removed)="remove(d)">
                {{d.name}}
                <i matChipRemove class="fas fa-times-circle" *ngIf="removable"></i>
              </mat-chip>
              <input #usrGrp matInput formControlName="group" placeholder="Add User Group *" [matAutocomplete]="auto">
              <!-- (matChipInputTokenEnd)="add($event)" -->
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selGrpIds($event.option.value)"
              [displayWith]="displayFn">
              <mat-option *ngFor="let grp of grps" [value]="grp">
                {{grp.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <!-- <div>
        <mat-label>Product Licenses</mat-label>
        <mat-checkbox class="ml-3 d-block">Content</mat-checkbox>
      </div> -->
      <div>
        <mat-label>Status</mat-label>
        <mat-checkbox class="ml-3 d-block" formControlName="isActive">Activated</mat-checkbox>
      </div>
      <div *ngIf="!isEdit">
        <mat-label>Password</mat-label>
        <mat-radio-group class="d-block ml-3" aria-label="Select an option" formControlName="specifyPassword"
          (change)="togglePassword($event)">
          <mat-radio-button [value]="false" class="mr-3"> Let user choose password upon account confirmation
          </mat-radio-button>
          <mat-radio-button [value]="true">Specify password</mat-radio-button>
        </mat-radio-group>
        <mat-form-field class="d-block w-50 mx-auto" appearance="outline" *ngIf="usrForm.controls.password">
          <mat-label>Password</mat-label>
          <input type="password" formControlName="password" matInput placeholder="Password">
          <mat-error *ngIf="usrForm.get('password')!.hasError('required')">
            Password is required
          </mat-error>
        </mat-form-field>
        <div class="ml-3">
          <mat-checkbox class="ml-3 d-block" formControlName="sendLoginInstructionEmail">Send me email with login
            instructions</mat-checkbox>
          <mat-checkbox class="ml-3 d-block" formControlName="enforceEmployeePasswordReset">Enforce user to reset
            password on first login</mat-checkbox>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" [disabled]="usrForm!.invalid || usrLoading">
        <app-loader [type]="'btn'" *ngIf="usrLoading"></app-loader>
        {{isEdit?'Update':'Save'}}
      </button>
    </div>
  </form>
</ng-template>
