<app-loader [type]="'page'" *ngIf="loading"></app-loader>
<div class="main main-employee p-3 container mt-3" *ngIf="!loading">
  <h3 class="mb-4 clearfix heading align-self-center">
    {{selColctn!.name}}
    <div class="float-right d-flex">
      <div class="btn btn-light" (click)="cmnModal('email')">
        <i class="fa fa-envelope mr-1"></i>
      </div>
      <div class="btn btn-light" (click)="cmnModal('getLink')">
        <i class="fa fa-link mr-1"></i>
      </div>
      <div class="dropdown align-self-center mr-5">
        <div class="btn btn-light curs-ptr" type="button" id="optionsDD" data-toggle="dropdown">
          <i class="fas fa-ellipsis-h"></i>
        </div>
        <div class="dropdown-menu" aria-labelledby="optionsDD">
          <a class="dropdown-item curs-ptr" (click)="cmnModal('coll','dupl')">
            <i class="fas fa-copy mr-1"></i>Duplicate
          </a>
          <a class="dropdown-item curs-ptr" (click)="cmnModal('coll', 'ren')">
            <i class="fas fa-edit mr-1"></i>Rename
          </a>
          <a class="dropdown-item dd curs-ptr">
            <i class="fa fa-download mr-1"></i>Download
            <div class="dropdown-menu">
              <a class="dropdown-item"><i class="fas fa-file-pdf mr-1"></i>As a single PDF</a>
              <a class="dropdown-item"><i class="fas fa-file-alt mr-1"></i>As separate items</a>
            </div>
          </a>
          <a class="dropdown-item curs-ptr {{selColctn!.isActive ? 'text-primary' : 'text-success'}}"
            (click)="actDeactColctn()">
            <i class="mr-1 fas fa-toggle-{{selColctn!.isActive ? 'off' : 'on'}}"></i>
            {{selColctn!.isActive ? 'Deactivate' : 'Activate'}}
          </a>
        </div>
      </div>
      <i class="fa mr-4 curs-ptr align-self-center" *ngIf="cntntArr.length>0"
        [ngClass]="{'fa-list-ul': view, 'fa-th-large': !view}" (click)="view = !view;"></i>
      <button class="btn btn-primary" (click)="addResourceModal(addResource)">Add Resource</button>
    </div>
  </h3>
  <ng-container *ngIf="view">
    <div class="mt-2 row my-files" *ngIf="cntntArr.length>0">
      <div class="card-container col-lg-3 col-md-4 col-sm-6 my-3 mx-auto mx-sm-0" *ngFor="let cntnt of cntntArr">
        <div class="card curs-ptr">
          <div class="card-body">
            <div class="imagePreview text-center" (click)="navgToCntnt(cntnt)">
              <img
                [src]="cntnt.pdfImages && cntnt.pdfImages.length > 0 ? cntnt.pdfImages[0].imagePath : cntnt.urlIconPath ? cntnt.urlIconPath : defImg">
            </div>
            <div class="options rounded">
              <div class="dropleft">
                <button class="btn" type="button" id="shareDD" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="fas fa-share-square"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="shareDD">
                  <!-- <h6 class="ml-2 text-white-50">External Sharing</h6> -->
                  <a class="dropdown-item" (click)="cmnModal('email')"><i class="fa fa-envelope mr-1"></i>Email</a>
                  <a class="dropdown-item" (click)="cmnModal('getLink')"><i class="fa fa-link mr-1"></i>Get a link</a>
                  <!-- <div class="dropdown-divider"></div>
                  <h6 class="ml-2 text-white-50">Internal Sharing</h6>
                  <a class="dropdown-item" (click)="openModal(shareColl)"><i class="fa fa-user-friends mr-1"></i>Share
                    with
                    colleagues</a> -->
                </div>
              </div>
              <div class="btn my-1" (click)="cmnModal('addToCollection')">
                <i class="fas fa-folder-plus"></i>
              </div>
              <div class="btn" (click)="delContent(cntnt.id)">
                <i class="fas fa-trash-alt"></i>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="name">{{cntnt.name}}</div>
            <div class="float-left text-secondary d-flex">
              <div class="items" *ngIf="cntnt.pageNo">Page&nbsp;{{cntnt.pageNo}}</div>
            </div>
            <div class="float-right">
              <mat-checkbox (change)="selMe($event.checked, cntnt)"></mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-5 text-secondary" style="font-size: 20px;" *ngIf="cntntArr.length == 0">
      No Content Found
    </div>
  </ng-container>

  <div class="mt-2 row my-files" *ngIf="!view">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>
            <mat-checkbox></mat-checkbox>
          </th>
          <th>Name<i class="fas fa-sort-down ml-1 align-top"></i></th>
          <th>Date Modified<i class="fas fa-sort-down ml-1 align-top"></i></th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="cntntArr.length > 0">
        <tr *ngFor="let cntnt of cntntArr">
          <td class="align-middle">
            <mat-checkbox (change)="selMe($event.checked, cntnt)"></mat-checkbox>
          </td>
          <td class="align-middle">
            <div class="d-flex" (click)="navgToCntnt(cntnt)">
              <div class="imagePreview border mr-2">
                <img [src]="cntnt.pdfImage?cntnt.pdfImage:defImg">
              </div>
              <div class="name align-self-center">{{cntnt.name}}</div>
            </div>
          </td>
          <td class="align-middle">{{(cntnt.updatedDate|date:'dd MMM, yyyy')||'N/A'}}</td>
          <td class="align-middle options">
            <div class="d-flex">
              <div class="dropleft">
                <button class="btn" type="button" id="shareDD" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="fas fa-share-square"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="shareDD">
                  <a class="dropdown-item" (click)="cmnModal('email')"><i class="fa fa-envelope mr-1"></i>Email</a>
                  <a class="dropdown-item" (click)="cmnModal('getLink')"><i class="fa fa-link mr-1"></i>Get a link</a>
                </div>
              </div>
              <div class="btn" (click)="cmnModal('addToCollection')">
                <i class="fas fa-folder-plus"></i>
              </div>
              <div class="btn">
                <i class="fas fa-trash-alt"></i>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mx-auto mt-5 text-secondary" style="font-size: 20px;" *ngIf="cntntArr.length == 0">
      No Content Found
    </div>
  </div>
</div>

<!-- fixed div on selecting a collection -->
<div class="row mx-auto fixed-bottom px-3" style="width: 90%; background-color: #fff; height: 50px;" *ngIf="showBotDiv">
  <div class="selected-items text-secondary align-self-center">1 item selected</div>
  <div class="mr-1 ml-3 align-self-center">|</div>
  <div class="btn btn-outline-primary border-0 align-self-center">Clear</div>
  <div class="btn btn-light align-self-center ml-auto bg-white" (click)="cmnModal('email')"><i
      class="fa fa-envelope mr-1"></i>Email</div>
  <div class="btn btn-light align-self-center bg-white" (click)="cmnModal('getLink')"><i class="fa fa-link mr-1"></i>Get
    a
    link</div>
  <div class="btn btn-light align-self-center bg-white" (click)="cmnModal('addToCollection')"><i
      class="fa fa-folder-plus mr-1"></i>Add to collection</div>
  <div class="btn btn-primary align-self-center"><i class="fas fa-trash-alt mr-1"></i>Delete</div>
</div>

<!-- add resource modal -->
<ng-template #addResource let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Select Resource</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body min-height-val" ngbAutofocus>
    <div class="search">
      <mat-form-field appearance="outline" class="custom-mat-input w-100 mb-2 bg-white" [floatLabel]="'never'">
        <i matPrefix class="fas fa-search"></i>
        <input matInput placeholder="Search">
      </mat-form-field>
    </div>
    <!-- nav -->
    <nav aria-label="breadcrumb" *ngIf="!showAll">
      <ol class="breadcrumb bg-white mb-0 p-0 ml-1">
        <li class="curs-ptr text-primary mr-2" (click)="backNav()" style="font-size: 16px;" *ngIf="contentNav.length>0">
          <i class="fa fa-arrow-left align-self-center"></i></li>
        <!-- <li class="breadcrumb-item curs-ptr text-primary" (click)="showAll = true;">Home</li> -->
        <!-- <li class="breadcrumb-item no-before">{{selWrkspc!.name}}</li> -->
        <li class="breadcrumb-item" *ngFor="let c of contentNav">{{c.name}}</li>
      </ol>
      <hr class="mt-1">
    </nav>
    <ng-container
      *ngIf="(wrkspcLoading && colctnLoading) || (fldrLoading && sFldrLoading) || cntntLoading; else loaded">
      <app-loader [type]="'div'"></app-loader>
    </ng-container>
    <ng-template #loaded>
      <div *ngIf="showAll">
        <!-- experiences -->
        <div class="text-secondary font-weight-bold my-2">Workspaces</div>
        <div class="d-flex border-bottom p-2 dark-bg-hover" *ngFor="let workspc of workspcArr"
          (click)="showWorkspcFldrs(workspc)">
          <div class="icon align-self-center mr-2">
            <img src="assets/images/discription.png" style="max-height:50px; width: 40px;">
          </div>
          <div class="name align-self-center">
            {{workspc.name}}
          </div>
          <div class="arrow align-self-center ml-auto mr-3">
            <i class="fa fa-angle-right"></i>
          </div>
        </div>
        <!-- my files -->
        <div class="text-secondary font-weight-bold my-2">My Files</div>
        <div class="d-flex border-bottom p-2 dark-bg-hover" (click)="showMyFiles()">
          <div class="icon text-center mr-2" style="height:50px; width: 40px;">
            <i class="fas fa-folder mt-3"></i>
          </div>
          <div class="name align-self-center">
            My Files
          </div>
          <div class="arrow align-self-center ml-auto mr-3">
            <i class="fa fa-angle-right"></i>
          </div>
        </div>
        <!-- collections -->
        <div class="text-secondary font-weight-bold my-2">Collections</div>
        <div class="d-flex border-bottom p-2 dark-bg-hover" *ngFor="let colctn of colctnArr"
          (click)="getCntntColl(colctn)">
          <div class="icon align-self-center mr-2">
            <img src="assets/images/discription.png" style="max-height:50px; width: 40px;">
          </div>
          <div class="name align-self-center">{{colctn.name}}</div>
          <div class="arrow align-self-center ml-auto mr-3">
            <i class="fa fa-angle-right"></i>
          </div>
        </div>
      </div>
      <div *ngIf="!showAll">
        <ng-container *ngIf="fldrArr.length > 0 || mdlCntntArr.length > 0; else noDATA">
          <!-- sub folders -->
          <div class="d-flex border-bottom p-2 dark-bg-hover" *ngFor="let fldr of fldrArr"
            (click)="showAll === false ? showWorkspcFldrs(undefined, fldr) : showMyFiles(fldr);">
            <div class="icon align-self-center mr-2">
              <img src="{{fldr.folderIconPath ? fldr.folderIconPath : 'assets/images/folderIcon.png'}}"
                style="max-height:50px; width: 40px;">
            </div>
            <div class="name align-self-center">
              {{fldr.name}}
            </div>
            <div class="arrow align-self-center ml-auto mr-3">
              <i class="fa fa-angle-right"></i>
            </div>
          </div>
          <!-- content -->
          <div class="d-flex border-bottom p-2 dark-bg-hover" *ngFor="let content of mdlCntntArr">
            <mat-checkbox class="align-self-center mr-2" (change)="selectContent(content, $event.checked)">
            </mat-checkbox>
            <div class="icon align-self-center mr-2">
              <img
                src="{{content.pdfImages && content.pdfImages.length > 0 ? content.pdfImages[0].imagePath : content.urlIconPath}}"
                style="max-height:50px; width: 40px;">
            </div>
            <div class="name align-self-center">
              {{content.name}}
            </div>
          </div>
        </ng-container>
        <ng-template #noDATA>
          <div class="text-secondary text-center mt-5">
            No Data Found
          </div>
        </ng-template>
      </div>
    </ng-template>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="addContent()"
      [disabled]="addContentArr.length == 0 || disabled">
      <app-loader [type]="'btn'" *ngIf="disabled"></app-loader>
      {{addContentArr.length == 0 ? '0 Items Selected' : 'Insert ' + addContentArr.length + ' item(s)'}}
    </button>
  </div>
</ng-template>
