<app-loader [type]="'page'" *ngIf="loading"></app-loader>
<div class="main main-employee p-3 container mt-3" *ngIf="!loading">
  <h3 class="mb-4 clearfix heading align-self-center">
    {{selColctn!.name}}
    <div class="float-right d-flex">
      <div class="btn btn-light" (click)="cmnModal('email', undefined, undefined, selColctn)">
        <i class="fa fa-envelope mr-1"></i>
      </div>
      <div class="btn btn-light" (click)="cmnModal('getLink', undefined, undefined, selColctn)">
        <i class="fa fa-link mr-1"></i>
      </div>
      <div class="dropdown align-self-center mr-5">
        <div class="btn btn-light curs-ptr" type="button" id="optionsDD" data-toggle="dropdown">
          <i class="fas fa-ellipsis-h"></i>
        </div>
        <div class="dropdown-menu" aria-labelledby="optionsDD">
          <a class="dropdown-item curs-ptr" (click)="cmnModal('coll','dupl')">
            <i class="fas fa-copy mr-1"></i>Duplicate
          </a>
          <a class="dropdown-item curs-ptr" (click)="cmnModal('coll', 'ren')">
            <i class="fas fa-edit mr-1"></i>Rename
          </a>
          <a class="dropdown-item dd curs-ptr">
            <i class="fa fa-download mr-1"></i>Download
            <div class="dropdown-menu">
              <a class="dropdown-item"><i class="fas fa-file-pdf mr-1"></i>As a single PDF</a>
              <a class="dropdown-item"><i class="fas fa-file-alt mr-1"></i>As separate items</a>
            </div>
          </a>
          <a class="dropdown-item curs-ptr {{selColctn!.isActive ? 'text-primary' : 'text-success'}}"
            (click)="actDeactColctn()">
            <i class="mr-1 fas fa-toggle-{{selColctn!.isActive ? 'off' : 'on'}}"></i>
            {{selColctn!.isActive ? 'Deactivate' : 'Activate'}}
          </a>
        </div>
      </div>
      <i class="fa mr-4 curs-ptr align-self-center" *ngIf="cntntArr.length>0"
        [ngClass]="{'fa-list-ul': view, 'fa-th-large': !view}" (click)="view = !view;"></i>
      <button class="btn btn-primary" (click)="cmnModal('resource')">Add Resource</button>
    </div>
  </h3>
  <ng-container *ngIf="view">
    <div class="mt-2 row my-files" *ngIf="cntntArr.length>0">
      <div class="card-container col-lg-3 col-md-4 col-sm-6 my-3 mx-auto mx-sm-0" *ngFor="let cntnt of cntntArr">
        <div class="card curs-ptr">
          <div class="card-body">
            <div class="imagePreview text-center" (click)="navgToCntnt(cntnt)">
              <img [src]="cntnt.pdfImagePath ? cntnt.pdfImagePath : cntnt.urlIconPath ? cntnt.urlIconPath : defImg">
            </div>
            <div class="options rounded">
              <div class="dropleft">
                <button class="btn" type="button" id="shareDD" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="fas fa-share-square"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="shareDD">
                  <!-- <h6 class="ml-2 text-white-50">External Sharing</h6> -->
                  <a class="dropdown-item curs-ptr" (click)="cmnModal('email', undefined, cntnt)"><i
                      class="fa fa-envelope mr-1"></i>Email</a>
                  <a class="dropdown-item curs-ptr" (click)="cmnModal('getLink', undefined, cntnt)"><i
                      class="fa fa-link mr-1"></i>Get a
                    link</a>
                  <!-- <div class="dropdown-divider"></div>
                  <h6 class="ml-2 text-white-50">Internal Sharing</h6>
                  <a class="dropdown-item" (click)="openModal(shareColl)"><i class="fa fa-user-friends mr-1"></i>Share
                    with
                    colleagues</a> -->
                </div>
              </div>
              <div class="btn my-1" (click)="cmnModal('addToCollection','',cntnt)">
                <i class="fas fa-folder-plus"></i>
              </div>
              <div class="btn" (click)="delContent(cntnt.contentId)">
                <i class="fas fa-trash-alt"></i>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="name text-truncate">{{cntnt.name}}</div>
            <div class="float-left text-secondary d-flex">
              <div class="items" *ngIf="cntnt.pageNo">Page&nbsp;{{cntnt.pageNo}}</div>
            </div>
            <div class="float-right">
              <mat-checkbox (change)="selMe($event.checked, cntnt)"></mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-5 text-secondary" style="font-size: 20px;" *ngIf="cntntArr.length == 0">
      No Content Found
    </div>
  </ng-container>

  <div class="mt-2 row my-files" *ngIf="!view">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>
            <mat-checkbox></mat-checkbox>
          </th>
          <th>Name<i class="fas fa-sort-down ml-1 align-top"></i></th>
          <th>Date Modified<i class="fas fa-sort-down ml-1 align-top"></i></th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngIf="cntntArr.length > 0">
        <tr *ngFor="let cntnt of cntntArr">
          <td class="align-middle">
            <mat-checkbox (change)="selMe($event.checked, cntnt)"></mat-checkbox>
          </td>
          <td class="align-middle">
            <div class="d-flex" (click)="navgToCntnt(cntnt)">
              <div class="imagePreview border mr-2">
                <img [src]="cntnt.pdfImagePath ? cntnt.pdfImagePath : cntnt.urlIconPath ? cntnt.urlIconPath : defImg">
              </div>
              <div class="name align-self-center">{{cntnt.name}}</div>
            </div>
          </td>
          <td class="align-middle">{{(cntnt.updatedDate|date:'dd MMM, yyyy')||'N/A'}}</td>
          <td class="align-middle options">
            <div class="d-flex">
              <div class="dropleft">
                <button class="btn" type="button" id="shareDD" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="fas fa-share-square"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="shareDD">
                  <a class="dropdown-item curs-ptr" (click)="cmnModal('email', undefined, cntnt)"><i
                      class="fa fa-envelope mr-1"></i>Email</a>
                  <a class="dropdown-item curs-ptr" (click)="cmnModal('getLink', undefined, cntnt)"><i
                      class="fa fa-link mr-1"></i>Get a
                    link</a>
                </div>
              </div>
              <div class="btn" (click)="cmnModal('addToCollection')">
                <i class="fas fa-folder-plus"></i>
              </div>
              <div class="btn" (click)="delContent(cntnt.contentId)">
                <i class="fas fa-trash-alt"></i>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mx-auto mt-5 text-secondary" style="font-size: 20px;" *ngIf="cntntArr.length == 0">
      No Content Found
    </div>
  </div>
</div>

<!-- fixed div on selecting a collection -->
<app-sel-itm-fxd-div [selArr]="selCntntArr" (delContent)="delContent(undefined)" [content]="true" (clrSelData)="clrSel()"
  *ngIf="selCntntArr.length > 0"></app-sel-itm-fxd-div>
