<div class="modal-header">
  <h4 class="modal-title">Edit Password</h4>
  <button type="button" class="close" aria-label="Close" (click)="modalRef.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form name="chngPassForm" (ngSubmit)="changePassword()" [formGroup]="chngPassForm" novalidate>
 <div class="modal-body" ngbAutofocus>
   <mat-form-field appearance="outline" class="w-100">
     <mat-label>Current Password</mat-label>
     <input matInput [type]="hideCurPass?'password':'text'" formControlName="currPswd" maxlength="15" required>
     <i matSuffix (click)="hideCurPass = !hideCurPass" [ngClass]="{'fa-eye': hideCurPass, 'fa-eye-slash': !hideCurPass}" class="fas"></i>
     <mat-error *ngIf="chngPassForm.get('currPswd')!.hasError('required')">
       Current Password is required
     </mat-error>
     <mat-error *ngIf="!chngPassForm.get('currPswd')!.hasError('required') && chngPassForm.get('currPswd')!.hasError('minlength')">
       Current Password must be at least 6 characters long
     </mat-error>
   </mat-form-field>
   <mat-form-field appearance="outline" class="w-100">
     <mat-label>Password</mat-label>
     <input matInput [type]="hidePass?'password':'text'" formControlName="pswd" maxlength="15" required>
     <i matSuffix (click)="hidePass = !hidePass" [ngClass]="{'fa-eye': hidePass, 'fa-eye-slash': !hidePass}" class="fas"></i>
     <mat-error *ngIf="chngPassForm.get('pswd')!.hasError('required')">
       Password is required
     </mat-error>
     <mat-error *ngIf="!chngPassForm.get('pswd')!.hasError('required') && chngPassForm.get('pswd')!.hasError('minlength')">
       Password must be at least 6 characters long
     </mat-error>
   </mat-form-field>
   <mat-form-field appearance="outline" class="w-100">
     <mat-label>Confirm Password</mat-label>
     <input matInput [type]="hideCPass?'password':'text'" formControlName="confirmPswd" maxlength="15" required>
     <i matSuffix (click)="hideCPass = !hideCPass" [ngClass]="{'fa-eye': hideCPass, 'fa-eye-slash': !hideCPass}" class="fas"></i>
     <mat-error *ngIf="chngPassForm.get('confirmPswd')!.hasError('required')">
       Confirm Password is required
     </mat-error>
     <mat-error *ngIf="!chngPassForm.get('confirmPswd')!.hasError('required') &&
                        chngPassForm.get('confirmPswd')!.hasError('passwordsNotMatching')">
       Password and Confirm Password must match
     </mat-error>
   </mat-form-field>
 </div>
 <div class="modal-footer">
   <button class="btn btn-primary" [disabled]="chngPassForm!.invalid || loading">
     <app-loader [type]="'btn'" *ngIf="loading"></app-loader>
     Update Password
   </button>
 </div>
</form>
