<app-loader [type]="'page'" *ngIf="loading"></app-loader>
<div *ngIf="!loading">
  <div *ngIf="cntnt else noCntnt">
    <div class="heading bg-white w-100 row mx-0" *ngIf="!isSelPage">
      <div class="col-4 align-self-center">{{cntnt.name}}</div>
      <div class="col-4 align-self-center d-flex justify-content-center">
        <div class="btn btn-lg" placement="bottom" *ngIf="cntnt.contentType==1"
          ngbTooltip="{{leftSide?'Hide Pages':'Show Pages'}}" (click)="leftSide = !leftSide">
          <i class="fas fa-th-large"></i>
        </div>
        <div class="dropdown">
          <button class="btn btn-lg" type="button" id="moreDD" data-toggle="dropdown">
            <i class="fas fa-ellipsis-h"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="moreDD">
            <button *ngIf="cntnt.contentPath" class="dropdown-item curs-ptr" (click)="downloadFile()"><i
                class="fas fa-download"></i>Download</button>
            <button class="dropdown-item curs-ptr"><i class="fas fa-thumbs-up"></i>Like</button>
          </div>
        </div>
        <div class="dropdown" *ngIf="cntnt.contentType==1">
          <button class="btn btn-lg" type="button" id="addCol" data-toggle="dropdown">
            <i class="fas fa-plus-circle"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="addCol">
            <button class="dropdown-item curs-ptr" (click)="openModal(addColl,'full')">Entire Document Document</button>
            <button class="dropdown-item curs-ptr" (click)="leftSide=true;isSelPage=true">Select Pages</button>
          </div>
        </div>
      </div>
      <div class="col-4 text-right align-self-center">
        <div class="btn btn-lg" *ngIf="!isFullScreen" (click)="openFullscreen()" ngbTooltip="View in Full Screen"><i
            class="fas fa-expand-alt"></i></div>
        <div class="btn btn-lg" *ngIf="isFullScreen" (click)="closeFullscreen()" ngbTooltip="Exit from Full Screen"><i
            class="fas fa-compress-arrows-alt"></i></div>
        <div class="btn btn-lg" (click)="goBack()"><i class="fas fa-times"></i></div>
      </div>
      <div class="btn btn-outline-secondary right-side-toggle" [ngClass]="{'pdfView': cntnt.contentType == 1}"
        placement="left" ngbTooltip="{{rightSide?'Hide Detailed Section':'Show Detailed Section'}}"
        (click)="rightSide = !rightSide">
        <i class="fas fa-angle-double-{{rightSide?'right':'left'}}"></i>
      </div>
    </div>
    <div class="heading bg-white w-100 row mx-0" *ngIf="isSelPage">
      <div class="col-4 align-self-center">
        <button class="btn btn-primary text-white btn-sm" (click)="closeLeftSel()">Cancel</button>
      </div>
      <div class="col-4 align-self-center d-flex justify-content-center">{{cntnt.name}}</div>
      <div class="col-4 align-self-center text-right">
        <button class="btn btn-primary text-white btn-sm" (click)="openModal(addColl,'pages')"
          [disabled]="!selPages || (selPages && selPages.length<=0)">Add</button>
      </div>
    </div>
    <div class="pdf-view d-flex mx-0">
      <div class="left-body bg-white text-center" *ngIf="cntnt.contentType==1 && leftSide">
        <div class="bg-hi-grey rounded px-3 py-1 my-3 w-75 text-truncate w-fit mx-auto">{{cntnt.name}}</div>
        <div class="d-flex my-3 pl-3" *ngFor="let cPImg of cntnt.pdfImages"
          [ngClass]="{'active': actPage ==cPImg.pageNo}">
          <mat-checkbox *ngIf="isSelPage" class="align-self-center mb-4" (change)="addRemPages($event,cPImg)">
          </mat-checkbox>
          <div class="curs-ptr" (click)="goToPage(cPImg)">
            <div class="thumbnail">
              <img [src]="getImg(cPImg,'icon')" class="w-50" alt="Thumbnail" />
            </div>
            <div class="num py-1 px-2 mx-auto mt-1 rounded w-fit">{{cPImg.pageNo}}</div>
          </div>
        </div>
        <div *ngIf="cntnt.pdfImages.length<=0">
          No thumbnail available
        </div>
      </div>
      <div class="main-body overflow-auto w-100">
        <div class="h-100" [ngSwitch]="cntnt.contentType">
          <div class="h-100" *ngSwitchCase="1">
            <div class="h-100" *ngIf="cntnt.pdf">
              <div id='pdf-div' class='pdf-view'></div>
            </div>
            <div *ngIf="!cntnt.pdf" class="text-center pt-5">No pdf found</div>
          </div>
          <div class="text-center mt-5 mx-3" *ngSwitchCase="2">
            <img [src]="getImg(cntnt,'icon')" alt="Image" />
          </div>
          <div class="text-center mt-5 mx-3" *ngSwitchCase="3">
            <a *ngIf="cntnt.url else noUrl" [href]="cntnt.url" target="_blank">
              <img [src]="getImg(cntnt,'icon')" alt="Url Icon"/>
              <div *ngIf="!cntnt.hideLabelInWorkspace">{{cntnt.name}}</div>
            </a>
            <ng-template #noUrl>No url available</ng-template>
          </div>
          <div class="text-center mt-5" *ngSwitchCase="4">
            <video *ngIf="cntnt.contentPath" controls controlsList="nodownload" width="720">
              <source [src]="cntnt.contentPath">
              Your browser does not support the video player.
            </video>
          </div>
          <div *ngSwitchDefault>Not a valid content</div>
        </div>
      </div>
      <div class="right-body bg-white pt-1 pb-3" *ngIf="rightSide">
        <mat-tab-group>
          <mat-tab label="Details">
            <div class="px-3">
              <div class="dark-bg-hover rounded px-3 py-2 mt-2" (click)="infoToggle = !infoToggle">
                Info
                <i class="fa fa-chevron-{{infoToggle?'up':'down'}} float-right mt-1"></i>
              </div>
              <div *ngIf="infoToggle" class="pl-3">
                <div class="mt-2 work-div">
                  <div class="font-weight-bold mb-1">
                    Updated on
                  </div>
                  <div class="text-hi-dark-grey">
                    {{(cntnt.updatedDate|date:'dd MMM, yyyy HH:mm')||'N/A'}}
                  </div>
                </div>
                <div class="mt-2 work-div">
                  <div class="font-weight-bold mb-1">
                    Authors
                  </div>
                  <div class="text-hi-dark-grey">
                    <div class="author bg-hi-grey px-3 py-2 rounded-pill mt-1">
                      <span class="bg-warning rounded-circle p-1 text-white">AD</span>
                      Andrea D'suzza
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="dark-bg-hover rounded px-3 py-2" (click)="enggToggle = !enggToggle">
                Engagement
                <i class="fa fa-chevron-{{enggToggle?'up':'down'}} float-right mt-1"></i>
              </div>
              <div *ngIf="enggToggle" class="pl-3 row mx-0 mt-2">
                <div class="col pl-0">
                  <div class="h3">17</div>
                  <span>Total in app views</span>
                </div>
                <div class="col pl-0">
                  <div class="h3">4</div>
                  <span>Total customer shares</span>
                </div>
                <div class="col pl-0">
                  <div class="h3">27s</div>
                  <span>Avg. customer view time</span>
                </div>
              </div>
              <hr>
              <div class="dark-bg-hover rounded px-3 py-2" (click)="tagsToggle = !tagsToggle">
                Tags
                <i class="fa fa-chevron-{{tagsToggle?'up':'down'}} float-right mt-1"></i>
              </div>
              <div *ngIf="tagsToggle" class="pl-3 row mx-0 mt-2">
                <div class="d-inline-flex flex-wrap"
                  *ngIf="cntnt.contentTags && cntnt.contentTags.length>0 else noCntntTg">
                  <div class="rounded-pill px-3 py-1 bg-hi-grey text-primary mr-2 my-1"
                    *ngFor="let cT of cntnt.contentTags">
                    {{cT.tagName}}
                  </div>
                </div>
                <ng-template #noCntntTg>
                  <div>No Tags</div>
                </ng-template>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Comments ({{cntnt.comments && cntnt.comments.length?cntnt.comments.length:0}})">
            <div class="px-3">
              <div class="comment d-flex mt-2" *ngFor="let cmnt of cntnt.comments">
                <div class="align-self-center mr-2">
                  <span class="rounded-circle p-2 bg-warning">TU</span>
                </div>
                <div class="border-bottom pb-2 w-100">
                  <div class="user-name">
                    {{cmnt.createdByFullName}}
                    <span class="date ml-3 text-hi-grey">{{(cmnt.createdDate|date:'dd MMM, yyyy')||'N/A'}}</span>
                    <div class="btn btn-light float-right"><i class="fas fa-trash-alt"></i></div>
                  </div>
                  <div class="comment-text text-hi-dark-grey">{{cmnt.commentText||'N/A'}}</div>
                </div>
              </div>
              <!-- add comment -->
              <div class="comment d-flex mt-2">
                <div class="align-self-center mx-2">
                  <span class="rounded-circle p-1 bg-warning">TU</span>
                </div>
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Leave a comment</mat-label>
                  <textarea matInput placeholder="Leave a comment" [(ngModel)]="cmnt" name="cmnt" maxlength="500"
                    required></textarea>
                </mat-form-field>
              </div>
              <div class="form-group text-right">
                <button (click)="addCmnt('cmnt')" [disabled]="cmntDisb || !cmnt"
                  class="btn btn-primary text-white btn-sm">
                  <app-loader [type]="'btn'" *ngIf="cmntDisb"></app-loader>
                  Submit
                </button>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
  <ng-template #noCntnt>
    No Content found
  </ng-template>
</div>

<!-- add resource modal -->
<ng-template #addColl let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add to Collection</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body min-height-val" ngbAutofocus>
    <app-loader [type]="'div'" *ngIf="collLoad"></app-loader>
    <div *ngIf="!collLoad">
      <div id="coll-div" class="d-flex border-bottom p-2 dark-bg-hover" *ngFor="let coll of colls">
        <div class="icon align-self-center mr-2">
          <img [src]="getImg(coll,'fldr')" style="max-height:50px; width: 40px;">
        </div>
        <div class="name align-self-center">
          {{coll.name}}
        </div>
        <div class="hover-coll ml-auto mr-3">
          <button class="btn btn-primary btn-sm" (click)="addCntntToColl(coll)">Add</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
