<app-loader [type]="'page'" *ngIf="loading"></app-loader>
<div *ngIf="!loading">
  <div *ngIf="cntnt else noCntnt">
    <div class="heading bg-white w-100 row mx-0">
      <div class="col-4 align-self-center">{{cntnt.name}}</div>
      <div class="col-4 align-self-center d-flex justify-content-center">
        <div class="btn" placement="bottom" *ngIf="cntnt.contentType==1" ngbTooltip="{{leftSide?'Hide Pages':'Show Pages'}}" (click)="leftSide = !leftSide">
          <i class="fas fa-th-large"></i>
        </div>
        <div class="dropdown">
          <button class="btn" type="button" id="moreDD" data-toggle="dropdown">
            <i class="fas fa-ellipsis-h"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="moreDD">
            <button *ngIf="cntnt.contentPath" class="dropdown-item curs-ptr" (click)="downloadFile()"><i class="fas fa-download"></i>Download</button>
            <button class="dropdown-item curs-ptr"><i class="fas fa-thumbs-up"></i>Like</button>
          </div>
        </div>
      </div>
      <div class="col-4 text-right align-self-center">
        <div class="btn" *ngIf="!isFullScreen" (click)="openFullscreen()" ngbTooltip="View in Full Screen"><i class="fas fa-expand-alt"></i></div>
        <div class="btn" *ngIf="isFullScreen" (click)="closeFullscreen()" ngbTooltip="Exit from Full Screen"><i class="fas fa-compress-arrows-alt"></i></div>
        <div class="btn"><i class="fas fa-times"></i></div>
      </div>
      <div class="btn btn-light right-side-toggle" ngbTooltip="{{rightSide?'Hide Detailed Section':'Show Detailed Section'}}" (click)="rightSide = !rightSide">
        <i class="fas fa-angle-double-{{rightSide?'right':'left'}}"></i>
      </div>
    </div>
    <div class="pdf-view d-flex mx-0">
      <div class="left-body bg-white text-center" *ngIf="cntnt.contentType==1 && leftSide">
        <div class="bg-hi-grey rounded px-3 py-1 my-3 w-fit mx-auto">{{cntnt.name}}</div>
        <div class="d-flex my-3 pl-3" *ngFor="let cPImg of cntnt.pdfImages"> <!-- class active -->
          <mat-checkbox class="align-self-center mb-4"></mat-checkbox>
          <div class="curs-ptr" (click)="goToPage(cPImg)">
            <div class="thumbnail">
              <img [src]="cPImg.imagePath?cPImg.imagePath:defIcon" class="w-50" alt="Thumbnail" />
            </div>
            <div class="num py-1 px-2 mx-auto mt-1 rounded w-fit">{{cPImg.pageNo}}</div>
          </div>
        </div>
        <div *ngIf="cntnt.pdfImages.length<=0">
          No thumbnail available
        </div>
      </div>
      <div class="main-body overflow-auto w-100 p-2">
        <span [ngSwitch]="cntnt.contentType">
          <span *ngSwitchCase="1">
            <span *ngIf="cntnt.pdfContentPath">
              <div id='pdf-div' class='pdf-view'></div>
            </span>
            <span *ngIf="!cntnt.pdfContentPath">No pdf found</span>
          </span>
          <span *ngSwitchCase="2">
            <img [src]="cntnt.contentPath?cntnt.contentPath:defIcon" alt="Image"/>
          </span>
          <span *ngSwitchCase="3">
            <span>Url : {{cntnt.url||'N/A'}}</span>
            <img [src]="cntnt.urlIconPath?cntnt.urlIconPath:defIcon" alt="Url Icon"/>
          </span>
          <span *ngSwitchCase="4">
            <video *ngIf="cntnt.contentPath" controls controlsList="nodownload">
              <source [src]="cntnt.contentPath">
              Your browser does not support the video player.
            </video>
          </span>
          <span *ngSwitchDefault>Not a valid content</span>
        </span>
      </div>
      <div class="right-body bg-white pt-1 pb-3" *ngIf="rightSide">
        <mat-tab-group>
          <mat-tab label="Details">
            <div class="px-3">
              <div class="dark-bg-hover rounded px-3 py-2 mt-2" (click)="infoToggle = !infoToggle">
                Info
                <i class="fa fa-chevron-{{infoToggle?'up':'down'}} float-right mt-1"></i>
              </div>
              <div *ngIf="infoToggle" class="pl-3">
                <div class="mt-2 work-div">
                  <div class="font-weight-bold mb-1">
                    Updated on
                  </div>
                  <div class="text-hi-dark-grey">
                    {{(cntnt.updatedDate|date:'dd MMM, yyyy HH:mm')||'N/A'}}
                  </div>
                </div>
                <div class="mt-2 work-div">
                  <div class="font-weight-bold mb-1">
                    Authors
                  </div>
                  <div class="text-hi-dark-grey">
                    <div class="author bg-hi-grey px-3 py-2 rounded-pill mt-1">
                      <span class="bg-warning rounded-circle p-1 text-white">AD</span>
                      Andrea D'suzza
                    </div>
                  </div>
                </div>
              </div>
              <hr>
              <div class="dark-bg-hover rounded px-3 py-2" (click)="enggToggle = !enggToggle">
                Engagement
                <i class="fa fa-chevron-{{enggToggle?'up':'down'}} float-right mt-1"></i>
              </div>
              <div *ngIf="enggToggle" class="pl-3 row mx-0 mt-2">
                <div class="col pl-0">
                  <div class="h3">17</div>
                  <span>Total in app views</span>
                </div>
                <div class="col pl-0">
                  <div class="h3">4</div>
                  <span>Total customer shares</span>
                </div>
                <div class="col pl-0">
                  <div class="h3">27s</div>
                  <span>Avg. customer view time</span>
                </div>
              </div>
              <hr>
              <div class="dark-bg-hover rounded px-3 py-2" (click)="tagsToggle = !tagsToggle">
                Tags
                <i class="fa fa-chevron-{{tagsToggle?'up':'down'}} float-right mt-1"></i>
              </div>
              <div *ngIf="tagsToggle" class="pl-3 row mx-0 mt-2">
                <div *ngIf="cntnt.contentTags && cntnt.contentTags.length>0 else noCntntTg">
                  <span class="rounded-pill px-3 py-1 bg-hi-grey text-primary mr-2" *ngFor="let cT of cntnt.contentTags">
                    {{cT.tagName}}
                  </span>
                </div>
                <ng-template #noCntntTg><div>No Tags</div></ng-template>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="Comments (0)">
            <div class="px-3">
              <div class="comment d-flex mt-2" *ngFor="let cmnt of cntnt.comments">
                <div class="align-self-center mr-2">
                  <span class="rounded-circle p-2 bg-warning">TU</span>
                </div>
                <div class="border-bottom pb-2">
                  <div class="user-name">
                    {{cmnt.createdByFullName}}
                    <span class="date ml-3 text-hi-grey">{{(cmnt.createdDate|date:'dd MMM, yyyy')||'N/A'}}</span>
                    <div class="btn btn-light float-right"><i class="fas fa-trash-alt"></i></div>
                  </div>
                  <div class="comment-text text-hi-dark-grey">{{cmnt.commentText||'N/A'}}m</div>
                </div>
              </div>
              <!-- add comment -->
              <div class="comment d-flex mt-2">
                <div class="align-self-center mx-2">
                  <span class="rounded-circle p-1 bg-warning">TU</span>
                </div>
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Leave a comment</mat-label>
                  <textarea matInput placeholder="Leave a comment" [(ngModel)]="cmnt" name="cmnt"></textarea>
                </mat-form-field>
              </div>
              <div class="form-group text-right">
                <button (click)="addCmnt('cmnt')" [disabled]="true" class="btn btn-primary text-white btn-sm">
                  <!-- <app-loader [type]="'btn'" *ngIf="disb.cmnt"></app-loader> -->
                  Submit
                </button>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
  <ng-template #noCntnt>
    No Content found
  </ng-template>
</div>
