.heading {
  height: 50px;
  min-height: 10vh;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  z-index: 1;
  position: relative;

  .right-side-toggle {
    position: absolute;
    right: 21px;
    bottom: -47px;
  }

  .right-side-toggle.pdfView {
    position: absolute;
    right: 21px;
    bottom: -88px;
  }
}

.left-body,
.main-body,
.right-body {
  min-height: 90vh;
  max-height: 90vh;
  overflow-y: auto;
}

.left-body {
  min-width: 250px;
  width: 250px;

  .thumbnail {
    width: 186px;

  }

  @media(min-width: 1500px) {
    min-width: 350px;
    width: 350px;

    .thumbnail {
      width: 286px;
    }
  }

  @media (max-width: 1140px) {
    min-width: 200px;
    width: 200px;

    .thumbnail {
      width: 138px;
    }
  }
}

.right-body {
  min-width: 500px;
  width: 500px;

  @media (max-width: 1140px) {
    min-width: 400px;
    width: 400px;
  }

  .bg-warning.text-white {
    font-size: 0.8rem;
    background-color: #CC4A00 !important;
  }

  .author {
    width: fit-content;
  }

  .comment {
    font-size: 14px;

    .user-name {

      .date {
        font-size: 12px;
      }

      .float-right {
        opacity: 0;
        transition: opacity 0.5s linear;
      }
    }
  }

  .comment:hover {
    .user-name {
      .float-right {
        opacity: 1;
      }
    }
  }
}

.active {
  img {
    border: 2px solid #969696;
  }

  .num {
    background-color: #969696;
    color: #fff;
  }
}

.hover-coll {
  opacity: 0;
}

#coll-div:hover {
  .hover-coll {
    opacity: 1;
  }
}
