<app-loader [type]="'page'" *ngIf="loading"></app-loader>

<div class="main main-hub p-3" *ngIf="!loading && usrInfo">
  <h3 class="mb-4 clearfix heading">
    Profile
  </h3>
  <div class="mt-2">
    <div class="main-tab-nav row">
      <div class="col-lg-7">
        <div class="card">
          <div class="card-header">
            My User Profile
            <div class="float-right">
              <i class="fas fa-edit curs-ptr" matTooltip="Edit Profile" (click)="openModal(editProfile)"></i>
            </div>
          </div>
          <div class="card-body">
            <div class="row px-4 my-1">
              <div class="col font-weight-bold">Name</div>
              <div class="col">{{usrInfo.name}}</div>
            </div>
            <div class="row px-4 my-1">
              <div class="col font-weight-bold">Email</div>
              <div class="col">{{usrInfo.email||'N/A'}}</div>
            </div>
            <div class="row px-4 my-1">
              <div class="col font-weight-bold">Language</div>
              <div class="col">{{usrInfo.languageId && lngs[usrInfo.languageId]?lngs[usrInfo.languageId]:'N/A'}}</div>
            </div>
            <!-- <div class="row px-4 my-1">
              <div class="col font-weight-bold">Time Zone</div>
              <div class="col">{{usrInfo.timeZone||'N/A'}}</div>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-lg-5 mt-3 mt-lg-0">
        <div class="card">
          <div class="card-header">
            Password
            <div class="float-right">
              <i class="fas fa-edit curs-ptr" matTooltip="Edit Password" (click)="openModal('','chng-pass')"></i>
            </div>
          </div>
          <div class="card-body">
            <div class="row px-4 my-1">
              <div class="col">Password</div>
              <div class="col">********</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- edit profile modal -->
<ng-template #editProfile let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Edit Profile Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form name="profForm" (ngSubmit)="updProfile()" [formGroup]="profForm" novalidate>
    <div class="modal-body" ngbAutofocus>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>First Name</mat-label>
        <input matInput type="text" placeholder="First Name" formControlName="firstName" maxlength="50" required />
        <mat-error *ngIf="profForm.get('firstName')!.hasError('required')">>
          First Name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Last Name</mat-label>
        <input matInput type="text" placeholder="Last Name" formControlName="lastName" maxlength="50" required />
        <mat-error *ngIf="profForm.get('lastName')!.hasError('required')">
          Last Name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Email</mat-label>
        <input matInput type="text" placeholder="Email" formControlName="email" maxlength="100" required />
        <mat-error *ngIf="profForm.get('email')!.hasError('required')">
          Email required
        </mat-error>
        <mat-error
          *ngIf="!profForm.get('email')!.hasError('required') && profForm.get('email')!.hasError('invalidEmail')">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Language</mat-label>
        <mat-select formControlName="languageId" required>
          <mat-option *ngFor="let lng of lngArr" [value]="lng.v">{{lng.n}}</mat-option>
        </mat-select>
        <mat-error *ngIf="profForm.get('languageId')!.hasError('required')">
          Language is required
        </mat-error>
      </mat-form-field>
      <!-- <mat-form-field appearance="outline" class="w-100">
        <mat-label>Time Zone</mat-label>
        <mat-select formControlName="timeZone">
          <mat-option value="abc">abc</mat-option>
        </mat-select>
      </mat-form-field> -->
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" [disabled]="profForm!.invalid || profLoading">
        <app-loader [type]="'btn'" *ngIf="profLoading"></app-loader>
        Update Profile
      </button>
    </div>
  </form>
</ng-template>
