<p>test works!</p>

<button [disabled]="currPage==1 || totalPages<=1" (click)="getPage('prev')"><i class="fas arrow-left">Prev Page</i></button>
<button [disabled]="currPage==totalPages || totalPages<=1" (click)="getPage('next')"><i class="fas arrow-right">Next Page</i></button>
PDF URL <input type="text" [(ngModel)]="pdfURL" /> <button (click)="pdfRender()">Render PDF</button>


<canvas id="canvas-id"></canvas>

<ng-container *ngFor='let in of counter(totalPages) ;let i = index'>
  <div class="page" style="display:none" [attr.id]="'page-d-'+i"></div>
  <!-- <div class="annotation" style="display:none" [attr.id]="'annotation-'+i"></div> -->
</ng-container>
