.page {
  border: 1px solid black;
  position: relative;
}
#sheet-container {
  width: 400px;
  height: 400px;
  border: 1px solid black;
}

.pdf-view {
    margin: auto;
    margin-top: 5%;
    height: 90vh;
    width: 900px;
    border: 1px solid #dadada;
}


#canvas-id{
  height: 700px;
  width: 700px;
}
