<div class="login-ui row mx-0 bg-white">
  <div class="col-md-6 p-0 d-none d-md-block">
    <app-auth-slides></app-auth-slides>
  </div>
  <div class="col-md-6 align-self-center">
    <div *ngIf="resetPassForm">
      <form class="w-75 w-md-90 w-sm-100 mx-auto p-4" name="resetPassForm" (ngSubmit)="resetPassword()"
        [formGroup]="resetPassForm" novalidate>
        <div class="mb-5"><img src="assets/images/logo.png" alt="Logo" style="width:300px;"></div>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Password</mat-label>
          <input matInput [type]="hidePass?'password':'text'" formControlName="pswd" maxlength="15" required>
          <i matSuffix (click)="hidePass = !hidePass" [ngClass]="{'fa-eye': hidePass, 'fa-eye-slash': !hidePass}"
            class="fas"></i>
          <mat-error *ngIf="resetPassForm.get('pswd')!.hasError('required')">
            Password is required
          </mat-error>
          <mat-error
            *ngIf="!resetPassForm.get('pswd')!.hasError('required') && resetPassForm.get('pswd')!.hasError('minlength')">
            Password must be at least 6 characters long
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Confirm Password</mat-label>
          <input matInput [type]="hideCPass?'password':'text'" formControlName="confirmPswd" maxlength="15" required>
          <i matSuffix (click)="hideCPass = !hideCPass" [ngClass]="{'fa-eye': hideCPass, 'fa-eye-slash': !hideCPass}"
            class="fas"></i>
          <mat-error *ngIf="resetPassForm.get('confirmPswd')!.hasError('required')">
            Confirm Password is required
          </mat-error>
          <mat-error
            *ngIf="!resetPassForm.get('confirmPswd')!.hasError('required') && resetPassForm.get('confirmPswd')!.hasError('passwordsNotMatching')">
            Password and Confirm Password must match
          </mat-error>
        </mat-form-field>
        <div class="text-center">
          <button aria-label="Reset Password" [disabled]="resetPassForm!.invalid || loading" class="mt-2 btn login-btn">
            <app-loader [type]="'btn'" *ngIf="loading"></app-loader>
            Reset Password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
