<div class="text-center mt-4"><img src="assets/images/logo.png" alt="Logo" style="width:300px;"></div>
<div class="card w-40 mx-auto mt-4 w-lg-50 w-md-60 w-sm-70 w-xs-90">
  <div class="card-header text-center">
    <h4 class="mb-0 font-weight-bold">Create Password</h4>
  </div>
  <div class="card-body p-3 p-sm-5">
    <div *ngIf="createPassForm">
      <form class="w-75 w-md-90 w-sm-100 mx-auto p-4" name="createPassForm" (ngSubmit)="createPassword()"
        [formGroup]="createPassForm" novalidate>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Password</mat-label>
          <input matInput [type]="hidePass?'password':'text'" formControlName="pswd" maxlength="15" required>
          <i matSuffix (click)="hidePass = !hidePass" [ngClass]="{'fa-eye': hidePass, 'fa-eye-slash': !hidePass}"
            class="fas"></i>
          <mat-error *ngIf="createPassForm.get('pswd')!.hasError('required')">
            Password is required
          </mat-error>
          <mat-error
            *ngIf="!createPassForm.get('pswd')!.hasError('required') && createPassForm.get('pswd')!.hasError('minlength')">
            Password must be at least 6 characters long
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Confirm Password</mat-label>
          <input matInput [type]="hideCPass?'password':'text'" formControlName="confirmPswd" maxlength="15" required>
          <i matSuffix (click)="hideCPass = !hideCPass" [ngClass]="{'fa-eye': hideCPass, 'fa-eye-slash': !hideCPass}"
            class="fas"></i>
          <mat-error *ngIf="createPassForm.get('confirmPswd')!.hasError('required')">
            Confirm Password is required
          </mat-error>
          <mat-error *ngIf="!createPassForm.get('confirmPswd')!.hasError('required') &&
                             createPassForm.get('confirmPswd')!.hasError('passwordsNotMatching')">
            Password and Confirm Password must match
          </mat-error>
        </mat-form-field>
        <div class="text-center">
          <button aria-label="Reset Password" [disabled]="createPassForm!.invalid || loading"
            class="mt-2 btn btn-primary">
            <app-loader [type]="'btn'" *ngIf="loading"></app-loader> <!-- loader -->
            Create Password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
