.cog.dropdown-menu {
  min-height: 150px;

  .scrollable {
    max-height: 190px;
    overflow-y: auto;
  }

  span.heading {
    font-size: 14px;
  }

  span.text-secondary {
    font-size: 12px;
  }

  .dropdown-item {
    font-size: 13px;

    i {
      font-size: 11px;
    }

    .ellipsis {
      opacity: 0;
    }
  }

  .dropdown-item:hover {
    .ellipsis {
      opacity: 1;
    }
  }
}

.modal-body {
  .image {
    position: relative;
    width: fit-content;

    img {
      height: 130px;
      width: auto;
    }

    .del-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }

  .image:hover {
    .del-btn {
      opacity: 1;
    }
  }
}

.filter-btn {
  padding: 0.15rem 0.5rem;
  font-size: 0.75rem;
}

.scroll-div {
  max-height: 100px;
  overflow-y: auto;
}

.min-height.card-text {
  min-height: 300px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 40px;
  min-width: 150px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag:not(.cdk-drag-dragging) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cur-mov {
  cursor: move;
}
