<div class="text-center mt-4"><img src="assets/images/logo.png" alt="Logo"></div>
<div class="card w-40 mx-auto my-4">
  <div class="card-header text-center">
    <h4 class="mb-0 font-weight-bold">Forgot Password</h4>
  </div>
  <div class="card-body p-5">
    <div *ngIf="forgPassForm">
      <form class="w-75 mx-auto p-4" name="forgPassForm" (ngSubmit)="forgotPassword()" [formGroup]="forgPassForm"
        novalidate>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required>
          <i matSuffix class="fas fa-envelope"></i>
          <mat-error *ngIf="forgPassForm.get('email')!.hasError('required')">
            Email is required
          </mat-error>
          <mat-error
            *ngIf="!forgPassForm.get('email')!.hasError('required') && forgPassForm.get('email')!.hasError('invalidEmail')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
        <div class="text-right">
          <a style="font-size:14px;" [routerLink]="'/auth/login'">
            Back to Login
          </a>
        </div>
        <div class="text-center">
          <button aria-label="Forgot Password" [disabled]="forgPassForm!.invalid || disabled"
            class="mt-3 btn btn-primary">
            <app-loader [type]="'btn'" *ngIf="disabled"></app-loader> <!-- loader -->
            Forgot Password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
