<!-- main -->
<div class="main main-employee p-3 container mt-3">
  <h3 class="mb-4 clearfix heading">
    All Workspaces (5)
  </h3>
  <div class="mt-2 row workspaces">
    <div class="card-container curs-ptr col-lg-3 col-md-4 col-sm-6 my-3 mx-auto mx-sm-0" *ngFor="let t of temp;">
      <div class="card overflow-hidden">
        <div class="card-body" style="background-image: url(assets/images/bg.jpg);">
          <img src="assets/images/logo.png" class="icon">
        </div>
        <div class="card-footer pt-4">
          English
        </div>
      </div>
    </div>
  </div>
</div>
