<app-loader [type]="'page'" *ngIf="loading"></app-loader>
<!-- main -->
<div class="main main-employee p-3 container mt-3" *ngIf="wrkSpcs && !loading">
  <h3 class="mb-4 clearfix heading">
    All Workspaces &#40;{{wrkSpcs.length}}&#41;
  </h3>
  <div class="mt-2 row workspaces">
    <div class="col-lg-3 col-md-4 col-sm-6 my-4 mx-auto mx-sm-0" *ngFor="let w of wrkSpcs;" (click)="changePage(w.id)">
      <div class="wrkspc-item rounded-circle text-white curs-ptr mx-auto align-self-center">
        <div class="text text-center h4">{{w.name}}</div>
      </div>
    </div>
    <div class="mx-auto mt-5 text-secondary" style="font-size: 20px;" *ngIf="wrkSpcs.length<=0">
      No Data Found
    </div>
  </div>
</div>
