<div class="main main-hub p-3">
  <h3 class="mb-4 clearfix heading">
    Users
  </h3>
  <div class="mt-2">
    <div class="main-tab-nav">
      <mat-tab-group [selectedIndex]="activeIndex" (selectedTabChange)="onTabChange($event)">
        <mat-tab label="Users">
          <div *ngIf="activeIndex==0">
            <app-user-list [lmtPage]="lmtPage"></app-user-list>
          </div>
        </mat-tab>
        <mat-tab label="Groups">
          <div *ngIf="activeIndex==1">
            <app-group [lmtPage]="lmtPage"></app-group>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
