<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Common Get a Link</h4>
  <button type="button" class="close" aria-label="Close" (click)="modalRef.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" ngbAutofocus>
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Name</mat-label>
    <input type="text" matInput placeholder="Name">
  </mat-form-field>
  <mat-checkbox>Allow downloads</mat-checkbox>
  <mat-label class="d-block mt-3">Content</mat-label>
  <div class="row">
    <div class="col-9">
      <mat-form-field appearance="outline" class="w-100 search">
        <mat-label class="ml-2">Search for content</mat-label>
        <input class="ml-2" type="text" matInput placeholder="Search for content">
        <i class="fa fa-search text-secondary" matPrefix style="font-size: 18px;"></i>
      </mat-form-field>
    </div>
    <div class="col-3 mt-3">
      <div class="btn btn-primary">Browse</div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="modalRef.close('Save click')">Save</button>
</div>
