/* You can add global styles to this file, and also import other style files */
//import url
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@200;400;600&display=swap");
/// customized bootstrap
@import './assets/scss/customizedBootstrap/bootstrap.scss';

// custom styling

// global

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $hi-grey;
  color: $hi-dark;
}

.w-40 {
  width: 40%;
}

.text-hi-dark {
  color: $hi-dark !important;
}

.text-hi-grey {
  color: darken($color: $hi-dark-grey, $amount: 20);
}

.text-hi-dark-grey {
  color: darken($color: $hi-dark-grey, $amount: 40);
}

.bg-hi-light-grey {
  background-color: lighten($color: $hi-dark-grey, $amount: 10.8);
}

.bg-hi-grey {
  background-color: lighten($color: $hi-dark-grey, $amount: 10);
}

.bg-hi-dark-grey,
.sel-row {
  background-color: $hi-dark-grey;
}

.no-bg-hover:hover {
  background-color: transparent;
}

.text-hover:hover {
  color: $primary !important;
}

.primary-bg-hover:hover {
  background-color: rgba($primary, .075) !important;
  cursor: pointer;
}

.dark-bg-hover:hover {
  background-color: rgba($black, .075) !important;
  cursor: pointer;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.cdk-overlay-container {
  z-index: 1051 !important;
}

.curs-ptr {
  cursor: pointer;
}

.input-btn {
  padding: 0 !important;
  border-radius: 50%;
  width: 18px !important;
  height: 18px !important;

  i {
    vertical-align: top !important;
  }
}

// modal
.modal-dialog {
  .modal-content {
    .modal-body {
      max-height: 65vh;
      overflow-y: auto;
    }
  }
}

// breadcrumb
.breadcrumb {
  .breadcrumb-item {
    font-size: 14px;
  }
}

// angular bootstrap modal
button[aria-label="Close"]:focus {
  outline: none;
}

// before pseudo element
.no-before::before {
  display: none !important;
}

.nav-tabs.justify-content-end {
  .nav-link {
    color: darken($color: $hi-dark-grey, $amount: 40) !important;
    padding: 0.25rem 0.5rem !important;
    font-size: 0.9rem !important;
  }

  .nav-link.active {
    color: $primary !important;
    background-color: transparent !important;
  }
}

.nav-tabs.border-color-grey {
  .nav-link.active {
    border-color: #dee2e6 #dee2e6 $hi-grey !important;
  }
}

.table {
  tbody {
    .deact {
      color: darken($color: $hi-dark-grey, $amount: 40) !important;
    }
  }
}


// material
.workspace-nav {
  .float-right {
    padding-bottom: 10px;
  }

  .mat-tab-label {
    min-width: 90px !important;
  }
}

mat-checkbox {
  label {
    margin-bottom: 0 !important;
  }
}

.page-spinner {
  padding-top: 25vh;
  min-height: 50vh;

  mat-spinner {
    height: 60px !important;
    width: 60px !important;

    svg {
      height: 60px !important;
      width: 60px !important;

      circle {
        stroke-width: 2% !important;
      }
    }
  }
}

.btn-spinner {
  display: inline-block;
  padding: 1px;
  vertical-align: middle;

  mat-spinner {
    height: 14px !important;
    width: 14px !important;
    margin-bottom: 3px;

    svg {
      height: 14px !important;
      width: 14px !important;

      circle {
        stroke: white !important;
        stroke-width: 18% !important;
      }
    }
  }
}

.div-spinner {
  padding-top: 30px;
  min-height: 90px;

  mat-spinner {
    height: 40px !important;
    width: 40px !important;

    svg {
      height: 40px !important;
      width: 40px !important;

      circle {
        stroke-width: 2% !important;
      }
    }
  }
}

.align-spin-top {
  .btn-spinner {
    vertical-align: top;
  }
}

.mat-checkbox-layout {
  white-space: normal !important;
}

.mat-tab-label-active {
  opacity: 1 !important;
}

.card-header {
  .mat-tab-label-active {
    background-color: white;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
  }
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: $primary !important;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.mat-select-panel {
  border-radius: 0.8rem !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  box-shadow: none !important;
  border: 1px $hi-dark-grey solid !important;
  margin-top: 45px !important;
}

.mat-option {
  height: auto !important;
  line-height: 1.5 !important;
  font-size: 1rem !important;
  padding: 0.25rem 1.5rem !important;
}

.mat-option:hover:not(.mat-option.mat-active) {
  background-color: $hi-dark-grey !important;
  color: darken($color: $hi-dark, $amount: 15) !important;
}

.mat-option.mat-active {
  color: white !important;
  background-color: lighten($color: $primary, $amount: 8) !important;
}

.custom-material-select {
  .mat-form-field-underline {
    display: none;
  }

  .mat-form-field-infix {
    border-top: 0 !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-prefix,
  .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: -0.25em !important;
  }
}

.custom-mat-input {
  border-radius: 0.8rem !important;

  input {
    margin-left: 1rem;
    font-size: 1rem;
  }

  .mat-form-field-outline-start {
    border-radius: 0.8rem 0 0 0.8rem !important;
    min-width: 13px !important;
  }

  .mat-form-field-outline-end {
    border-radius: 0 0.8rem 0.8rem 0 !important;
  }

  .mat-form-field-prefix,
  .mat-form-field-suffix {
    top: 2px !important;
  }

  .mat-form-field-prefix {
    margin-right: 5px;
  }

  .mat-form-field-wrapper {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
  }

  .mat-form-field-infix {
    padding-bottom: 0.7rem !important;
    padding-top: 1rem !important;
    border-top: 0 !important;
  }

  .mat-form-field-label-wrapper {
    padding: 0 !important;
  }

  mat-chip {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    min-height: 25px !important;
    // background-color: $primary !important;

    .mat-chip-remove {
      width: auto !important;
      height: auto !important
    }
  }
}

.sp-mat-input {
  .mat-form-field-suffix {
    top: 0.09rem !important;
  }
}

.pages {

  .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    transform: translateY(10%);
  }

  .mat-form-field-outline-start {
    border-radius: 0.8rem 0 0 0.8rem !important;
    min-width: 13px !important;
  }

  .mat-form-field-outline-end {
    border-radius: 0 0.8rem 0.8rem 0 !important;
  }

  .mat-form-field-wrapper {
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
  }

  .mat-form-field-infix {
    padding-bottom: 0.7rem !important;
    padding-top: 0.8rem !important;
    border-top: 0 !important;
    width: 40px !important;
  }

  .mat-form-field-label-wrapper {
    padding: 0 !important;
  }
}

.mat-tab-link-container {
  .mat-tab-list {
    .mat-tab-links {
      a {
        text-decoration: none !important;
      }

      .active {
        opacity: 1;
      }
    }
  }
}

// custom file select
.custom-file-select {
  // height: 138px;
  position: relative;
  border: 2px $hi-dark-grey dashed;

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
  }
}

// files list
.files-list {

  .single-file {
    border: 2px $hi-dark-grey dashed;

    .info {
      width: 95%;
    }

    .progress {
      height: 0.6rem !important;
      background-color: $primary;
    }
  }
}

// header/navbar
header {
  .navbar {
    .icon-size {
      font-size: 1.5rem !important;
    }

    .navbar-brand {
      img {
        height: 40px;
      }
    }

    .navbar-nav,
    .toggle-navbar-bottom-nav {
      .dropdown {
        img {
          width: 40px;
        }
      }

      .notification,
      .user {
        .large-dropdown {
          min-width: 20rem !important;
        }

        .name {
          font-size: 14px;
        }

        .row {
          display: flex !important;
        }

        .fa-times {
          font-size: 15px;
          border-radius: 10px;
          display: none;
        }

        .dropdown-item:hover {
          .text-hi-dark-grey {
            color: lighten($color:$hi-dark-grey, $amount: 10);
          }

          .fa-times {
            display: block;
          }
        }

        .fa-times:hover {
          background-color: $danger;
          color: #fff;
        }
      }
    }

    .toggle-button {
      display: none;

      @media (max-width: 650px) {
        display: inline;
      }
    }

    .toggle-navbar {
      @media (max-width: 650px) {
        display: none;
      }
    }
  }

  .toggle-navbar-bottom {
    display: none;

    @media (max-width: 650px) {
      display: inline;
    }

    .navbar-nav {
      flex-direction: row;

      li {
        margin-right: 10px;
      }

      .dropdown {
        .row {
          display: flex !important;
        }

        .large-dropdown {
          min-width: 20rem !important;
        }

        img {
          width: 25px;
        }
      }
    }
  }
}


// sidebar
.content {
  display: flex;
}

.sidebar {
  background-color: #fff;
  max-width: 197px;
  min-width: 197px;
  transition: min-width 0.5s linear;
  min-height: 100vh;
  height: 100%;

  .navbar-nav {
    .nav-item {
      font-size: 1.5rem;
      text-decoration: none;

      .link-icon {
        display: inline;
      }

      .link-text {
        display: inline;
        opacity: 1;
        transition: opacity 0.5s linear;
        font-size: 1rem;
      }
    }

    .active {
      color: white !important;
      background-color: lighten($color: $primary, $amount: 8);
    }

    >.nav-item:hover:not(.active) {
      background-color: $hi-dark-grey;
      color: darken($color: $hi-dark, $amount: 15) !important;
    }

    .dropright.active {
      a {
        color: white !important;
      }
    }

    .dropright {
      .dropdown-menu {
        a {
          font-size: 0.9rem;
          color: $hi-dark !important;
          border-left: 5px transparent solid;
        }

        a.active {
          color: white !important;
        }

        a:hover:not(.active) {
          background-color: $hi-dark-grey;
          color: darken($color: $hi-dark, $amount: 15) !important;
        }
      }

      .nav-item {
        padding-top: 9px !important;
        padding-bottom: 12px !important;
      }

      // .nav-item:hover {
      //   background-color: lighten($color: $primary, $amount: 10);
      //   border-left: 5px darken($color: $primary, $amount: 10) solid;
      //   border-bottom: 5px transparent solid;
      //   border-top: 5px transparent solid;
      //   color: white !important;
      // }
    }

    .dropright:hover:not(.active) {
      background-color: $hi-dark-grey;

      .nav-item {
        color: darken($color: $hi-dark, $amount: 15) !important;
      }
    }

    // .collapse {
    //   .nav-item {
    //     a {
    //       font-size: 1rem;

    //       i {
    //         font-size: 0.5rem;
    //       }

    //     }
    //   }
    // }

    .dropdown-toggle::after {
      transition: opacity 0.5s linear;
      margin-left: 5rem;
      padding-right: 1.3rem;
    }
  }
}

.closeSidebar {
  min-width: 4.05rem;
}

.displaySidebarText,
.displayArrow::after {
  display: none !important;
}

.showSidebarText,
.showArrow::after {
  opacity: 0 !important;
}

// app usage chart
.app-usage {
  .labels {
    .badge-warning {
      background-color: lighten($color: $warning, $amount: 25) !important;
      color: $warning;
    }

    .badge-primary {
      background-color: lighten($color: $primary, $amount: 35) !important;
      color: $primary;
    }

    .badge-success {
      background-color: lighten($color: $success, $amount: 35) !important;
      color: $success;
    }

    .badge {
      i {
        font-size: 1rem;
      }
    }

    .badge-text {
      display: inline;

      .number {
        font-size: 1rem;
      }

      .text {
        display: block;
        font-size: 0.8rem;
      }
    }
  }
}

// recent file comments
.recent-file-comments {
  .file-container {
    .file-name {
      font-size: 0.9rem;
    }

    .file-comments {
      .file-comment {
        .dp {
          i {
            font-size: 1.8rem;
          }
        }

        .col-11 {
          font-size: 0.8rem;

          .user-name {
            .date {
              font-size: 0.7rem;
            }
          }
        }
      }

      .add-comment {
        a:hover {
          i {
            color: #000;
          }
        }
      }
    }
  }
}

// online users graph
.online-users {
  .numbers {
    .num {
      font-size: 1.2rem;
    }

    .text {
      font-size: 0.8rem;
    }
  }
}

// content viewing graph
.content-viewing {
  .badge-primary.active {
    background-color: lighten($color: $primary, $amount: 10) !important;
    color: #fff;
  }

  .badge-primary {
    color: lighten($color: $primary, $amount: 30);
  }
}

// hub
.main-hub {
  .sub-tab-nav {
    .card-body {
      .input-group-append {
        .input-group-text {
          cursor: pointer;
        }
      }

      .card-text {
        @media (max-width:600px) {
          overflow-x: scroll !important;
        }

        table {

          @media (max-width:600px) {
            font-size: 10px;
          }
        }
      }
    }
  }
}

.hide-rows {

  // tr>*:nth-child(2),
  // tr>*:nth-child(3),
  // tr>*:nth-child(4),
  tr>*:not(:nth-child(1)) {
    display: none;
  }
}

// workspace
.workspace-container {
  .discription {
    img {
      height: 200px;
    }

    .disc-text {
      font-size: 12px;
    }
  }

  .work-div {
    .float-right {
      display: none;
      cursor: pointer;
    }
  }

  .work-div:hover {
    .float-right {
      display: block;
    }
  }

  .comments {
    .file-comment {
      i {
        font-size: 1.8rem;
      }
    }
  }

  .worksp {
    .card-header {
      .form-group.exp {
        width: 14rem;
      }
    }

    .large-dropdown-menu {
      min-width: 20rem;
    }

    .form-check {
      .image {
        background-color: $hi-dark;
        height: 40px;
      }

      .text {
        font-size: 12px;

        .border {
          background-color: limegreen;
        }
      }
    }
  }

  .main {
    .col-3 {
      .image {
        min-height: 100px;
        position: relative;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          max-height: 100px;
          max-width: 100px;
        }

        .dropdown {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          opacity: 0;
        }
      }

    }

    .col-3:hover {
      .dropdown {
        opacity: 1;
      }
    }
  }
}

// users page
// users section & groups section
.users-section,
.groups-section,
.communication {
  .doc {
    .card-body {
      height: 80vh;
      overflow-y: scroll;

      .doc-details {
        label {
          font-size: 14px;
        }
      }
    }
  }
}

// groups section
.groups-section {
  .heading {
    .dropdown {
      .large-dropdown-menu {
        min-width: 20rem;
      }
    }
  }
}


// employee view
.main-employee {

  // workspaces page
  .workspaces {
    .card-container {
      max-width: 280px;

      .card {
        transition: box-shadow ease-out 0.6s, transform linear 0.5s;

        .card-body {
          position: relative;
          min-height: 200px;
          max-height: 250px;
          background-size: cover;
          background-position: bottom;

          .icon {
            position: absolute;
            bottom: -10px;
            right: 20px;
            width: 60px;
          }
        }
      }

      .card:hover {
        transform: translate(-3px, -3px);
        box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4), 5px 10px 11px rgba(0, 0, 0, 0.2), 5px 10px 11px rgba(0, 0, 0, 0.2);
      }
    }
  }

  // collections page and my files page
  .collections,
  .my-files {

    // grid view
    .card-container {
      max-width: 280px;

      .card {
        transition: box-shadow ease-out 0.6s;

        .card-body {
          position: relative;

          .imagePreview {
            max-height: 200px;

            img {
              max-height: 200px;
            }
          }
        }

        .card-footer {
          .float-left {
            font-size: 12px;
          }
        }

        .options {
          opacity: 0;
          transition: opacity linear 0.5s;
          position: absolute;
          top: 50px;
          right: 10px;
          background-color: rgba($primary, 0.7);
          width: 50px;
          padding: 10px 5px;

          .btn {
            width: 40px;
            height: 40px;
            color: #fff;
          }

          .btn:hover {
            background-color: rgba($primary, 0.5);
          }

          .dropdown-menu {
            background-color: rgba($primary, 0.7);
            margin-right: 5px;

            .dropdown-item {
              color: #fff;
            }

            .dd {
              .dropdown-menu {
                top: 55%;
                left: 100%;
                width: fit-content;
                display: none !important;
              }
            }

            .dd:hover {
              .dropdown-menu {
                display: block !important;
              }
            }

            .dropdown-item:hover {
              background-color: rgba($primary, 0.5);
            }
          }
        }
      }

      .card:hover {
        box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4), 5px 10px 11px rgba(0, 0, 0, 0.2), 5px 10px 11px rgba(0, 0, 0, 0.2);

        .options {
          opacity: 1;
        }
      }
    }

    // list view
    table {
      tbody {
        tr {
          .imagePreview {
            img {
              width: 60px;
            }
          }

          td {

            .btn,
            .dropleft {
              width: 40px;
              height: 40px;
            }

            .btn:hover {
              background-color: darken(#fff, 10);
            }

            .dd {
              .dropdown-menu {
                top: 55%;
                left: 100%;
                width: fit-content;
                display: none !important;
              }
            }

            .dd:hover {
              .dropdown-menu {
                display: block !important;
              }
            }
          }

          .options {
            opacity: 0;
            transition: opacity linear 0.4s;
          }
        }

        tr:hover {
          .options {
            opacity: 1;
          }
        }
      }
    }
  }

  // my files side bar
  .files-side {
    ul {
      li.active {
        color: #fff;
        background-color: lighten($color: $primary, $amount: 8);
      }

      li:hover:not(.active) {
        color: darken($color: $hi-dark, $amount: 15) !important;
        background-color: $hi-dark-grey;
      }
    }
  }
}

.modal-body {
  .search {
    .mat-form-field-prefix {
      top: -0.25em;
    }
  }
}

.copy-link {
  .mat-form-field-suffix {
    top: -0.25em !important;
  }
}

// shares
.modal-body {
  .main-body {
    .mat-expansion-panel-header {
      height: 60px;
    }
  }
}

// experience inner page
.expid-grid {
  .file {
    position: relative;

    .options {
      opacity: 0;
      transition: opacity linear 0.5s;
      position: absolute;
      top: 50px;
      right: 110px;
      background-color: rgba($primary, 0.7);
      width: 50px;
      padding: 10px 5px;

      .btn {
        width: 40px;
        height: 40px;
        color: #fff;
      }

      .btn:hover {
        background-color: rgba($primary, 0.5);
      }

      .dropdown-menu {
        background-color: rgba($primary, 0.7);
        margin-right: 5px;

        .dropdown-item {
          color: #fff;
        }

        .dropdown-item:hover {
          background-color: rgba($primary, 0.5);
        }
      }
    }
  }

  .file:hover {
    .options {
      opacity: 1;
    }
  }
}

.expid-list {
  .file {
    .options {
      opacity: 0;
      transition: opacity linear 0.5s;
    }
  }

  .file:hover {
    .options {
      opacity: 1;
    }
  }
}

// tags page
.tags-page {
  .act-tag {
    background-color: $primary !important;
    color: #fff !important;
  }
}
