<app-loader [type]="'page'" *ngIf="loading"></app-loader> <!-- loader -->

<div class="main main-hub p-3" *ngIf="hubInfo && !loading">
  <h3 class="mb-4 clearfix heading">
    {{hubInfo.name}}
  </h3>
  <div class="mt-2">
    <div>
      <mat-tab-group [selectedIndex]="activeIndex" (selectedTabChange)="onTabChange($event)">
        <mat-tab label="Content & Workspace" [disabled]="disabled">
          <div *ngIf="arr.indexOf(0)!==-1">
            <app-content-workspace [hubid]="id"></app-content-workspace>
          </div>
        </mat-tab>
        <mat-tab label="Tags" [disabled]="disabled">
          <div *ngIf="arr.indexOf(1)!==-1">
            <app-tags [hubid]="id"></app-tags>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
