<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Email</h4>
  <button type="button" class="close" aria-label="Close" (click)="modalRef.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form name="emailForm" (ngSubmit)="sendMail()" [formGroup]="emailForm">
  <div class="modal-body" ngbAutofocus>
    <div class="row">
      <div class="col-9 border-right">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>To</mat-label>
          <mat-chip-list #emailList aria-label="Email addresses" formControlName="emailAddresses">
            <mat-chip *ngFor="let ea of emailAddresses" selectable removable (removed)="removeChip(ea)">
              {{ea}}
              <i class="fa fa-times" matChipRemove></i>
            </mat-chip>
            <input placeholder="Add Email Addresses (Separate by comma or enter)" [matChipInputFor]="emailList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes" matChipInputAddOnBlur
              (matChipInputTokenEnd)="addChips($event)" formControlName="emailAddresses">
          </mat-chip-list>
          <mat-error *ngIf="emailForm.get('emailAddresses')!.hasError('required')">
            Email Address is required
          </mat-error>
          <mat-error
            *ngIf="!emailForm.get('emailAddresses')!.hasError('required') && emailForm.get('emailAddresses')!.hasError('invalidEmail')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Subject</mat-label>
          <input matInput type="text" placeholder="Subject" formControlName="title" required>
          <mat-error *ngIf="emailForm.get('title')!.hasError('required')">
            Subject is required
          </mat-error>
        </mat-form-field>
        <div class="bg-hi-grey p-2 rounded d-flex">
          <div class="ml-3 align-self-center">Resources</div>
          <div class="ml-auto">
            <button type="button" class="btn btn-primary btn-sm" [disabled]="linkDisabled || disabled || loading"
              (click)="rsrcBtn(viewMe ? 'done' : 'change')">
              <app-loader [type]="'btn'" *ngIf="linkDisabled"></app-loader>
              {{viewMe || linkDisabled ? 'Done' : 'Change Resources'}}
            </button>
          </div>
        </div>
        <div class="rounded border m-2 p-2">
          <div class="row mt-2" *ngIf="viewMe">
            <div class="col-8">
              <mat-form-field appearance="outline" class="custom-mat-input w-100 mb-2" [floatLabel]="'never'">
                <i matPrefix class="fas fa-search"></i>
                <input matInput placeholder="Search Content">
              </mat-form-field>
            </div>
            <div class="col-4">
              <div class="btn btn-primary" (click)="openRsrcModal()">
                <i class="fas fa-file-medical mr-1"></i>Add resource
              </div>
            </div>
          </div>
          <app-loader [type]="'div'" *ngIf="loading"></app-loader>
          <div class="view-selected" *ngIf="!loading">
            <div class="d-flex bg-hi-grey border rounded px-3 py-1 my-2" *ngFor="let vs of viewSel">
              <div class="align-self-center">
                <img
                  src="{{vs.pdfImagePath ? vs.pdfImagePath : vs.pdfImage ? vs.pdfImage : vs.urlIconPath ? vs.urlIconPath : vs.contentPath ? vs.contentPath : defImg}}">
              </div>
              <div class="ml-2 align-self-center w-75">
                <div class="text-truncate">{{vs.name}}</div>
                <div class="text-secondary" *ngIf="vs.pageNo">Page {{vs.pageNo}}</div>
              </div>
              <div class="ml-auto align-self-center" *ngIf="viewMe">
                <i class="fas fa-trash-alt curs-ptr" (click)="removeMe(vs)"></i>
              </div>
            </div>
          </div>
        </div>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Message</mat-label>
          <textarea matInput type="text" placeholder="Message" formControlName="body"></textarea>
          <mat-error *ngIf="emailForm.get('body')!.hasError('required')">
            Message is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-3">
        <h5>Sharing Settings</h5>
        <mat-checkbox class="ml-2" formControlName="allowDownload">Allow downloads</mat-checkbox>
        <mat-checkbox class="ml-2" formControlName="sendMeCopy">Send me a copy</mat-checkbox>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary"
      [disabled]="emailForm!.invalid || disabled || viewMe || viewSel.length == 0">
      <app-loader [type]="'btn'" *ngIf="disabled"></app-loader>
      Save
    </button>
  </div>
</form>
