<!-- tags page -->
<div class="tags-page row mx-0">
  <div [ngClass]="{'sub-tab-nav row mx-0 mt-4 px-0': true, 'col-md-12': !showRowInfo, 'col-md-8': showRowInfo}">
    <div class="col" style="min-width: 240px; max-width: 240px;">
      <div class="card bg-hi-grey" style="min-height:100% !important;">
        <div class="card-body">
          <div class="text-hi-dark-grey">Tags</div>
          <ul class="list-unstyled ml-2 mt-1">
            <li class="dark-bg-hover px-2 py-1 rounded mt-2">All tags</li>
            <li class="dark-bg-hover px-2 py-1 rounded mt-2">Uncategorized Tags</li>
          </ul>
          <hr>
          <div class="text-hi-dark-grey">
            Categories
            <div class="float-right btn p-0" (click)="toggleCatgInp()"><i class="fa fa-plus-circle text-primary"></i>
            </div>
            <mat-form-field appearance="outline" class="custom-mat-input w-100 my-2 flex" [floatLabel]="'never'"
              *ngIf="showCatgIn">
              <input matInput placeholder="Add Category" class="ml-0">
              <div matSuffix class="curs-ptr">
                <i class="fas fa-times mr-2" (click)="toggleCatgInp()"></i>
                <i class="fas fa-check-circle text-primary" (click)="toggleCatgInp()"></i>
              </div>
            </mat-form-field>
          </div>
          <ul class="list-unstyled ml-2 mt-1">
            <li class="dark-bg-hover px-2 py-1 rounded mt-2">Category 1</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card overflow-hidden w-100">
        <div class="card-body rounded-bottom px-0 pb-0">
          <h5 class="card-title px-3">
            <div class="heading">
              <div class="search">
                <mat-form-field appearance="outline" class="custom-mat-input w-100 mb-2" [floatLabel]="'never'">
                  <i matPrefix class="fas fa-search"></i>
                  <input matInput placeholder="Search ...">
                  <div matSuffix class="curs-ptr">
                    <i class="fas fa-sliders-h"></i>
                  </div>
                </mat-form-field>
              </div>
            </div>
          </h5>
          <div class="card-text px-3">
            <table [ngClass]="{'table table-hover text-dark w-100': true, 'hide-rows': showRowInfo}">
              <thead>
                <tr>
                  <th scope="col" class="curs-ptr">Name<i class="fas fa-sort-down ml-1 align-top"></i>
                  </th>
                  <th scope="col" class="curs-ptr">Status<i class="fas fa-sort-down ml-1 align-top"></i>
                  </th>
                  <th scope="col" class="curs-ptr">Date Modified<i class="fas fa-sort-down ml-1 align-top"></i></th>
                </tr>
              </thead>
              <tbody>
                <tr (click)="toggleInfo($event)">
                  <td>
                    Group Stock Position - Regional Offices<br />
                    <span class="badge badge-light p-2 mt-2 mt-sm-0">Stock</span>
                    <span class="badge badge-light p-2 mt-2 mt-sm-0">Technical Distributors</span>
                  </td>
                  <td class="text-hi-dark-grey">Used in Filter</td>
                  <td>19 Aug 2020</td>
                </tr>
                <tr (click)="toggleInfo($event)">
                  <td>
                    Group Stock Position - Regional Offices<br />
                    <span class="badge badge-light p-2 mt-2 mt-sm-0">Stock</span>
                    <span class="badge badge-light p-2 mt-2 mt-sm-0">Technical Distributors</span>
                  </td>
                  <td class="text-hi-dark-grey">Used in Filter</td>
                  <td>19 Aug 2020</td>
                </tr>
                <tr (click)="toggleInfo($event)">
                  <td>
                    Group Stock Position - Regional Offices<br />
                    <span class="badge badge-light p-2 mt-2 mt-sm-0">Stock</span>
                    <span class="badge badge-light p-2 mt-2 mt-sm-0">Technical Distributors</span>
                  </td>
                  <td class="text-hi-dark-grey">Used in Filter</td>
                  <td>19 Aug 2020</td>
                </tr>
                <tr (click)="toggleInfo($event)">
                  <td>
                    Group Stock Position - Regional Offices<br />
                    <span class="badge badge-light p-2 mt-2 mt-sm-0">Stock</span>
                    <span class="badge badge-light p-2 mt-2 mt-sm-0">Technical Distributors</span>
                  </td>
                  <td class="text-hi-dark-grey">Used in Filter</td>
                  <td>19 Aug 2020</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer row justify-content-between mx-0">
            <div class="pages">
              <mat-form-field appearance="outline" class="mr-2">
                <mat-select>
                  <mat-option value="10">10</mat-option>
                  <mat-option value="10">20</mat-option>
                </mat-select>
              </mat-form-field>
              <span>Showing 1-10 of 100 </span>
            </div>
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link bg-hi-grey" href="javascript:void(0)" tabindex="-1" aria-disabled="true"><i
                    class="fas fa-chevron-left"></i></a>
              </li>
              <li class="page-item"><a class="page-link bg-hi-grey" href="javascript:void(0)">1</a></li>
              <li class="page-item"><a class="page-link bg-hi-grey" href="javascript:void(0)">2</a></li>
              <li class="page-item"><a class="page-link bg-hi-grey" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link bg-hi-grey" href="javascript:void(0)"><i class="fas fa-chevron-right"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="workspace w-100 col-md-4 mt-4" *ngIf="showRowInfo">
    <div class="document">
      <div class="card">
        <div class="card-header row m-0">
          <h5 class="mb-0 pt-1 col-10 pl-0 align-self-center">Group Stock Position</h5>
          <div class="mr-2 col-1 ml-auto">
            <div class="btn btn-light" (click)="closeInfo()">
              <i class="fas fa-times"></i>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="doc-details details border-bottom mb-3 pb-3">
            <div class="name">
              <label class="text-hi-dark-grey mb-0 mt-2">Details</label>
              <div class="value">
                3C Metal ABC
              </div>
            </div>
            <div class="orgCategories">
              <label class="text-hi-dark-grey mb-0 mt-2">Organisation in Categories</label>
              <div class="value">
                No Catgories
              </div>
            </div>
            <div class="usedIn">
              <label class="text-hi-dark-grey mb-0 mt-2">Used In</label>
              <div class="value">
                1 saved filter
              </div>
            </div>
          </div>
          <div class="doc-details status">
            <div class="heading text-hi-dark-grey font-weight-bold">Status</div>
            <div class="created">
              <label class="text-hi-dark-grey mb-0 mt-2">Date Created</label>
              <div class="value">
                15 Oct 2019, 17:55
              </div>
            </div>
            <div class="updated">
              <label class="text-hi-dark-grey mb-0 mt-2">Date Updated</label>
              <div class="value">
                15 Oct 2019, 17:55
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
