<app-loader [type]="'page'" *ngIf="loading"></app-loader> <!-- loader -->

<div class="tags-page row mx-0" *ngIf="!loading">
  <div class="sub-tab-nav row mx-0 mt-4 px-0" [ngClass]="{'col-md-12': !showRowInfo, 'col-md-8': showRowInfo}">
    <div class="col" style="min-width: 240px; max-width: 240px;">
      <div class="card bg-hi-grey" style="min-height:100% !important;">
        <div class="card-body">
          <div class="text-hi-dark-grey">Tags</div>
          <ul class="list-unstyled ml-2 mt-1">
            <li class="dark-bg-hover px-2 py-1 rounded mt-2" [ngClass]="{'act-tag': selTag==='all'}"
              (click)="changeTag('all')">All tags</li>
            <li class="dark-bg-hover px-2 py-1 rounded mt-2" [ngClass]="{'act-tag': selTag==='uncatg'}"
              (click)="changeTag('uncatg')">
              Uncategorized Tags
            </li>
          </ul>
          <hr>
          <div class="text-hi-dark-grey">
            Categories
            <div class="float-right btn p-0" (click)="showCatgIn = !showCatgIn"><i
                class="fa fa-plus-circle text-primary"></i>
            </div>
            <form name="catgForm" (ngSubmit)="addCatg()" [formGroup]="catgForm" novalidate *ngIf="showCatgIn">
              <mat-form-field appearance="outline" class="custom-mat-input sp-mat-input w-100 my-2 flex bg-white"
                [floatLabel]="'never'">
                <input matInput placeholder="Add Category" class="ml-0" formControlName="name" required>
                <div matSuffix>
                  <button type="submit" class="btn btn-secondary input-btn mr-1">
                    <i class="fas fa-times"></i>
                  </button>
                  <button type="submit" class="btn btn-primary input-btn"
                    [disabled]="catgForm!.invalid || catgAddDisabled">
                    <app-loader [type]="'btn'" *ngIf="catgAddDisabled" class="align-spin-top"></app-loader>
                    <i class="fas fa-check-circle" *ngIf="!catgAddDisabled"></i>
                  </button>
                </div>
                <mat-error *ngIf="catgForm.get('name')!.hasError('required')" class="mt-3">
                  Name is required
                </mat-error>
              </mat-form-field>
            </form>
          </div>
          <ul class="list-unstyled ml-2 mt-1 cat-list" *ngIf="catgs.length>0 else noCatg">
            <li class="dark-bg-hover px-2 py-1 rounded mt-2" *ngFor="let catg of catgs">
              {{catg.name}}
              <div class="float-right row mx-0">
                <div class="dropdown">
                  <div class="dropdown-toggle disable-icon" type="button" id="catEllipsis" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-ellipsis-h"></i>
                  </div>
                  <div class="dropdown-menu" aria-labelledby="catEllipsis">
                    <a class="dropdown-item" (click)="updCatgModal(editCategory, catg)">
                      <i class="fas fa-edit mr-1"></i>Edit
                    </a>
                    <a class="dropdown-item" (click)="deactCatg(catg)" *ngIf="catg.isActive">
                      <i class="fas fa-trash-alt mr-1"></i>Deactivate
                    </a>
                    <a class="dropdown-item" (click)="actCatg(catg)" *ngIf="!catg.isActive">
                      <i class="fas fa-plus mr-1"></i>Activate
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <ng-template #noCatg>
            <div class="text-secondary text-center mt-2">
              No catgories found
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card overflow-hidden w-100">
        <div class="card-body rounded-bottom px-0 pb-0">
          <h5 class="card-title px-3">
            <div class="heading">
              <mat-form-field appearance="outline" class="custom-mat-input float-right mb-3" [floatLabel]="'never'"
                style="min-width: 300px;">
                <i matPrefix class="fa fa-search text-secondary"></i>
                <input matInput placeholder="Search Tag ..." class="ml-0" #sear [(ngModel)]="searchTxt">
              </mat-form-field>
              <div class="search mb-2" *ngIf="tagForm">
                <form name="tagForm" (ngSubmit)="addTags()" [formGroup]="tagForm" novalidate class="row w-100 mx-0">
                  <mat-form-field class="custom-mat-input mr-3" appearance="outline" [floatLabel]="'never'"
                    style="flex:1;">
                    <mat-chip-list #tagList aria-label="tag selection" formControlName="name">
                      <mat-chip *ngFor="let tag of tagNames" selectable removable (removed)="removeChip(tag)">
                        {{tag}}
                        <i class="fa fa-times" matChipRemove></i>
                      </mat-chip>
                      <input placeholder="Add Tags (Separate tags by comma or enter)" [matChipInputFor]="tagList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" matChipInputAddOnBlur
                        (matChipInputTokenEnd)="addChips($event)" formControlName="name">
                    </mat-chip-list>
                  </mat-form-field>
                  <button type="submit" class="btn btn-primary ml-auto" [disabled]="tagForm!.invalid || tagAddDisabled">
                    <app-loader [type]="'btn'" *ngIf="tagAddDisabled"></app-loader>
                    Create
                  </button>
                </form>
              </div>
            </div>
          </h5>
          <app-table [showRowInfo]="showRowInfo" [columns]="columns" [dataLoading]="tagLoading" [data]="tags"
            [pageSize]="pageSize" [totalCount]="totalCount" (sort)="sort($event)" (toggleInfo)="toggleInfo($event)"
            (pageSizeChange)="pageSizeChange($event)" (paginationNum)="paginationNum($event)"></app-table>
        </div>
      </div>
    </div>
  </div>
  <div class="workspace w-100 col-md-4 mt-4" *ngIf="showRowInfo">
    <div class="document">
      <div class="card">
        <div class="card-header row m-0">
          <h5 class="mb-0 pt-1 col-10 pl-0 align-self-center">{{rowInfo.name}}</h5>
          <div class="mr-2 col-1 ml-auto">
            <div class="btn btn-light" (click)="closeInfo()">
              <i class="fas fa-times"></i>
            </div>
          </div>
        </div>
        <div class="card-header bg-hi-light-grey d-flex">
          <div class="btn btn-sm btn-light mr-2" (click)="deactTag(rowInfo)">
            <!-- *ngIf="rowInfo.isActive" -->
            <i class="fas fa-trash-alt"></i>
          </div>
          <div class="btn btn-sm btn-light mr-2" (click)="actTag(rowInfo)">
            <!-- *ngIf="!rowInfo.isActive" -->
            <i class="fas fa-plus"></i>
          </div>
          <div class="btn btn-sm btn-light" (click)="updTagModal(editTag)">
            <i class="fas fa-edit"></i>
          </div>
        </div>
        <div class="card-body">
          <div class="doc-details details border-bottom mb-3 pb-3">
            <div class="heading text-hi-dark-grey font-weight-bold">Details</div>
            <div class="name">
              <label class="text-hi-dark-grey mb-0 mt-2">Name</label>
              <div class="value">
                {{rowInfo.name}}
              </div>
            </div>
            <div class="orgCategories">
              <label class="text-hi-dark-grey mb-0 mt-2">Organized in Categories</label>
              <div class="value">
                {{rowInfo.catgName}}
              </div>
            </div>
            <div class="orgCategories">
              <label class="text-hi-dark-grey mb-0 mt-2">Assigned In</label>
              <div class="value">
                No data
              </div>
            </div>
            <div class="usedIn">
              <label class="text-hi-dark-grey mb-0 mt-2">Used In</label>
              <div class="value">
                No data
              </div>
            </div>
          </div>
          <div class="doc-details status">
            <div class="heading text-hi-dark-grey font-weight-bold">Status</div>
            <div class="created">
              <label class="text-hi-dark-grey mb-0 mt-2">Date Created</label>
              <div class="value">
                {{rowInfo.createdDate.split('T')[0]}}
              </div>
            </div>
            <div class="updated">
              <label class="text-hi-dark-grey mb-0 mt-2">Date Updated</label>
              <div class="value">
                {{rowInfo.updatedDate.split('T')[0]}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- edit category modal  -->
<ng-template #editCategory let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Category</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form name="updCatgForm" (ngSubmit)="updCatg()" [formGroup]="updCatgForm" novalidate>
    <div class="modal-body" ngbAutofocus>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Name" formControlName="name" required>
        <mat-error *ngIf="updCatgForm.get('name')!.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>
      <mat-label>Published</mat-label>
      <mat-checkbox class="d-block">Published</mat-checkbox>
      <p class="text-danger">
        When published, a tag category becomes available to users for filtering content based on tags (e.g. in
        advanced search). You can uncheck this option to prevent a tag category can be used for filtering. Tags that
        are part of an unpublished category will never be shown to users.
      </p>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="updCatgForm!.invalid || updDisabled">
        <app-loader [type]="'btn'" *ngIf="updDisabled"></app-loader>
        Update
      </button>
    </div>
  </form>
</ng-template>

<!-- edit tag modal  -->
<ng-template #editTag let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Tag</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form name="updTagForm" (ngSubmit)="updTag()" [formGroup]="updTagForm" novalidate>
    <div class="modal-body" ngbAutofocus>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Name</mat-label>
        <input matInput type="text" placeholder="Name" formControlName="name" required>
        <mat-error *ngIf="updTagForm.get('name')!.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Organized in Categories</mat-label>
        <mat-select formControlName="categories" multiple>
          <!-- multiple -->
          <mat-option *ngFor="let catg of catgs" [value]="catg.id">{{catg.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="updTagForm!.invalid || updDisabled">
        <app-loader [type]="'btn'" *ngIf="updDisabled"></app-loader>
        Update
      </button>
    </div>
  </form>
</ng-template>
